


<table  class="table-responsive "style="margin-bottom: 80px">
    <tr class="t-heading">
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Total Passive</th>
        <th>Total Profit</th>
        <th>Direct Balance</th>
        <th>Delete</th>


    </tr>"
    <tr *ngFor="let item of data">
                  <td>{{item.Allusers}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.password}}</td>
                        <td>{{item.totalpassive}}</td>
                        <td>{{item.totalprofit}}</td>
                        <td>{{item.directBalance}}</td>      
                        <td (click)="delete()"><i class="bi bi-trash"></i> Delete</td>      

    </tr>
  </table>




