.section-head {
	margin-bottom: 50px;
	h2 {

		margin-bottom: 20px;
	}
	p {
		max-width: 632px;
		margin: auto;
	}

}

.section-p {
	padding: 80px 0;
	.section-head {
		h2 {
			margin-top: -6px;
		}
	}
}

.padding-110 {
	padding-bottom: 120px;
}

@include mq-max(991px) {
	.padding-110 {
		padding-bottom: 80px;
	}
}

@include mq-max(767px) {
	.section-p {
		.section-head {
			h2 {
				margin-top: -5px;
			}
		}
	}
	.padding-110 {
		padding-bottom: 80px;
	}
}
