<div class="container">
    <section class="intro">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div
                class="card"
                style="overflow-x: scroll; margin-top: 30px; max-height: 400px"
              >
                <table
                  class="table table-striped table-bordered"
                  [width]="100"
                  style="white-space: nowrap"
                >
                  <thead
                    style="
                      background: var(--background-color);
                      color: var(--text-color);
                      height: 50px;
                      --bs-table-bg:var(--background-color);
                    --bs-table-color: var(--text-color);
                    "
                  >
                    <tr>
                      <th scope="col" style="text-align: center">Amount</th>
                      <th scope="col" style="text-align: center">Sender</th>
                      <th scope="col" style="text-align: center">Receiver</th>
                      <th scope="col" style="text-align: center">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of userdata">
                      <td style="text-align: center">{{ item.amount }}</td>
                      <td style="text-align: center">Cash Balance</td>
                      <td style="text-align: center">Deposit Wallet</td>
                      <td style="text-align: center">{{ item.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <a
    href="https://chat.whatsapp.com/KUwuknHAlcELJncih9DHmD"
    target="_blank"
  >
    <!-- <i class="fa fa-whatsapp my-float"></i> -->
    <img class="float" src="../../../assets/images/whatsapp.png" alt="">
  </a>
  <!-- <svg class="wave" width="100%" height="110px" fill="">
    <path fill=var(--background-color)>
        <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s"
            values="
        M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z">
        </animate>
    </path>
  </svg> -->
  