
<div class="content whitecolor">
    <header id="header" class="fixed-top d-flex align-items-center headerclr">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
          <h1 class="text-light">
            <a href="index.html"><span> Cashgrow shop</span></a>
          </h1>
        </div>
  
        <nav id="navbar" class="navbar">
          <button class="btn navbtn"><a href="loginpage.html">Login</a></button>
        </nav>
      </div>
    </header>
    
    <div class="container-fluid">
      <form class="p-3 mt-5">
        <div class="col-md-6 col-10 col-sm-10 col-lg-4 form p-3 mx-auto mt-5">
          <h3 class="text-center mb-3">Reset Password</h3>       
          <label class="form-label mt-1">Email Address</label>
          <input
            class="form-control"
            placeholder="www.email@gmail.com"
            required
          />
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
              <button class="btn btn-clr mt-3" >Submit</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
    <footer class="fixed-bottom"
      id="footer"
      data-aos="fade-up"
      data-aos-easing="ease-in-out"
      data-aos-duration="500"
    >
      <div class="container-fluid">
        <div class="copyright">
          <strong><span>Cashgrow SHOP © 2023 |</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
  </div>
  