   <div class="backimg">
    <div class="text-center  headerclr border-1">
        <h1 class="p-3 fw-bold  fs-3  "> Welcome To Cashgrow  </h1>
    </div>

        <div class="container terms p-2 backcolor mb-3">
            <!-- <h3>Terms & Condition</h3> -->
            <h3 class="text-uppercase mb-3 text-center mt-3 p-2 fw-bold">Terms <span>&</span> Condition</h3><br>
            <h3 class="text-uppercase mb-3 text-center fs-4 px-6 text-warning">Account Responsibility</h3>

            <p class="open-sans-font justify-content-center text-center px-5" > Users are responsible for maintaining the security of their account credentials and agree not to share their login information. Any activities conducted through their account are their sole responsibility.
            </p>       
        
            <div class="container p-2 m-2">
              <div class="row">
                <div class="col-lg-12 col-12 m-15px-tb">
                  <div class="resume-box">
                      <ul>
                          <li>
                                <h5 class="poppins-font text-uppercase">Eligibility and User Conduct:
                                </h5>
                              <p class="open-sans-font">Eligibility and User Conduct: Users must comply with all applicable laws and regulations in their use of the platform. The platform reserves the right to terminate accounts engaging in fraudulent, abusive, or inappropriate behavior.
                              </p>          
                            </li>
                          <li>
                              <h5 class="poppins-font text-uppercase">Earning Opportunities:
                              </h5>
                              <p class="open-sans-font">Earning Opportunities: The platform provides blockchain earning opportunities, and users agree to engage in these activities within the defined guidelines and terms specified for each task or feature.

                            </li>
                       <li>
                              <h5 class="poppins-font text-uppercase">Privacy and Data Handling:
                              </h5>
                              <p class="open-sans-font">Privacy and Data Handling: Users acknowledge and agree to the collection, use, and processing of their personal information as outlined in the Privacy Policy of the platform.

                              </p>
                            </li>
                            <li>
                              <h5 class="poppins-font text-uppercase">Modification of Terms:
                              </h5>
                              <p class="open-sans-font">The platform reserves the right to modify, update, or revise these terms and conditions at any time, and users will be notified of any changes. Continued use of the platform constitutes acceptance of the amended terms.
                              </p>
                            </li>
                      </ul>
                  </div>
              </div>
              <!-- <div class="col-lg-6 col-11 m-15px-tb">
                  <div class="resume-box">
                      <ul>
                     <li>
                              <h5 class="poppins-font text-uppercase">Note:
                              </h5>
                              <p class="open-sans-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos omnis expedita sequi accusamus, veniam esse earum animi accusantium sit quo tempore et doloribus est eius in tempora culpa ab.
        
                              </p>
                            </li>
                            <li>
                              <h5 class="poppins-font text-uppercase">Note:
                              </h5>
                              <p class="open-sans-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos omnis expedita sequi accusamus, veniam esse earum animi accusantium sit quo tempore et doloribus est eius in tempora culpa ab.
                              </p>
                            </li>
                          <li>
                              <h5 class="poppins-font text-uppercase">Note:
                              </h5>
                              <p class="open-sans-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos omnis expedita sequi accusamus, veniam esse earum animi accusantium sit quo tempore et doloribus est eius in tempora culpa ab.
                              </p>
                            </li>
                      </ul>
                  </div>
              </div> -->
              </div>
            </div>

    <!-- <div class="row">
      <div class="container">
      
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-start">
          <div class="card card2 m-2" >
            <div class="card-body">
              <p class="open-sans-font text-center">This is a social media promotion website where you can come and promote your business or people's business or provide people with all social media services like Tik Tok, YouTube, Facebook, Instagram, etc. There are media agencies where you can earn millions per month by providing services to people Cashgrow   is a platform that provides you with an employment. </p>       
            </div>
          </div>
        </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-end m-3">
            <div class="card card1 m-2" >
              <div class="card-body">
              <p class="open-sans-font">In this, you have to pay charges for whatever social media services you provide to people, you will get your commission above these charges according to the market rate and you will get your profit on completing the order on social media agencies. Also available at Cashgrow  .</p>          
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-start">
            <div class="card card2" >
              <div class="card-body">
              <p class="open-sans-font">In Cashgrow you can promote your business and official accounts etc. on Facebook, Tik Tok, YouTube, Instagram, Google, etc.
              </p>
            </div>
          </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-end m-3">
            <div class="card card1 m-2" >
              <div class="card-body">
                <p class="open-sans-font">You cannot promote any anti-national, provocative, illegal, etc. content in Cashgrow on any social agency.
                </p>
                 </div>
               </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-start">
            <div class="card card2 m-2" >
              <div class="card-body">
              <p class="open-sans-font">Cashgrow does not access any of your personal data etc. nor does it ask you.
              </p>
          </div>
          </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8  float-end m-3">
            <div class="card card1 m-2" >
              <div class="card-body">
                  <p class="open-sans-font">After creating an account in Cashgrow only once, you have to pay 950 rupees for social media agencies, then you can create your own social media agencies in Cashgrow for lifetime and earn.
                  </p>
              </div>
              </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 float-start">
            <div class="card card2 m-2" >
              <div class="card-body">
                <p class="open-sans-font">Apart from this, Cashgrow   does not charge you any other charges.
                </p>
            </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-8  float-end m-3">
            <div class="card card1 m-2" >
              <div class="card-body">
                <p class="open-sans-font">If you promote any illegal, provocative, etc. content in Cashgrow through social media agencies or do not follow the terms and conditions of Cashgrow, then Cashgrow will close your account and your cash balance as well. may end.
                </p>
         </div>
         </div>
          </div>
      </div>



  </div> -->

              </div>
        <footer
        id="footer"
      class="text-white" >
        <div class="container-fluid h-100 text-white">
          <div class="copyright">
            <strong><span>Cashgrow   © 2023 |</span></strong
            >. All Rights Reserved
          </div>
        </div>
      </footer>
   </div>