
.formbox{
    background-color: var(--background-color);
    color: var( --text-color);
   }
      .form-design{
    background-color: var(--background-color);
    color: var( --text-color);
  }
   .formback-groundimage{
    background-image: url("../../../assets/pexels-jonathan-borba-14911428.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // background: rgb(99,207,255);
    // background: linear-gradient(90deg, rgba(99,207,255,1) 0%, rgba(189,176,176,1) 50%, rgba(181,28,177,1) 100%);
    
  }
  body{
    font-family: 'Times New Roman', Times, serif;
   }
  .margin{
  margin-top: 90px;
  }
  @media screen and (max-width: 480px) {
    .float {
        display: none;
    }
}
  .loginbtn{
    color: rgba(30, 67, 86);
    font-weight: 600;
  }
  .btn{
    background-color:white;
  }
  .password{
    color: red;
    text-align: right;
  }
  .cen{
    text-align: center;
  }
  .headerlogin{
    height: 60px;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
  }


  // <==============Alter Css===============>
  .form{
    border: 1px solid rgb(194, 191, 191);
    margin-top: 30px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.966);
    border-radius: 20px;
    color: black;
    }
    .hero-text{
      text-shadow: 3px 3px 3px  #9f31c0;;
      text-transform: uppercase; 
      color: rgba(114, 123, 206, 0.719);
    }

    .button {
      position: relative;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      padding-block: 0.5rem;
      padding-inline: 1.25rem;
      // background: rgb(99,207,255);
      background: linear-gradient(90deg, rgba(99,207,255,1) 0%, rgba(181,28,177,1) 100%);
        display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      gap: 10px;
      font-weight: bold;
      // border: 3px solid #7070704d;
      outline: none;
      overflow: hidden;
      font-size: 15px;
      padding: 10px;
    }
    
    
    
    
    
    
    .button:hover::before {
      animation: shine 1.5s ease-out infinite;
    }
    
    .button::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    }
    @keyframes shine {
      0% {
        left: -100px;
      }
    
      60% {
        left: 100%;
      }
    
      to {
        left: 100%;
      }
    }
    .input {
  margin: 5px 0;
  background: none;
  border: 1px solid #000000ce;
  outline: none;
// padding: 14px 23px;
width: 100%;
height: 100%;
  padding: 12px 23px;
  font-size: 16px;
  color:#000000;
  font-weight: bold;
  // box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
  // rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
  // rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  // rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  // rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
input:focus{
  outline: 0;
  box-shadow: none;
}