
.formbox{
    background-color: var(--background-color);
    color: var( --text-color);
   }
      .form-design{
    background-color: var(--background-color);
    color: var( --text-color);
  }
   .formback-groundimage{
    background-image: url("../../../assets/images/bbb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  body{
    font-family: 'Times New Roman', Times, serif;
   }
  .margin{
  margin-top: 90px;
  }
  @media screen and (max-width: 480px) {
    .float {
        display: none;
    }
}
  .loginbtn{
    color: rgba(30, 67, 86);
    font-weight: 600;
  }
  .btn{
    background-color:white;
  }
  .password{
    color: red;
    text-align: right;
  }
  .cen{
    text-align: center;
  }
  .headerlogin{
    height: 60px;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
  }