
.formbox{
    background-color: var(--background-color);
    color: var( --text-color);
   }
      .form-design{
    background-color: var(--background-color);
    color: var( --text-color);
  }
   .formback-groundimage{
    background: var(--background-color);

    // background: rgb(99,207,255);
    // background: linear-gradient(90deg, rgba(99,207,255,1) 0%, rgba(189,176,176,1) 50%, rgba(181,28,177,1) 100%);
    
  }
 
  .margin{
  margin-top: 90px;
  }
  @media screen and (max-width: 480px) {
    .float {
        display: none;
    }
}
  
  .btn{
    background-color:white;
  }
  .password{
    color: red;
    text-align: right;
  }
  .cen{
    text-align: center;
  }
  .headerlogin{
    height: 60px;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
  }


  // <==============Alter Css===============>
  .form{
    margin-top: 30px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.966);
    border-radius: 8px;
    }
    .hero-text{
      text-shadow: 3px 3px 3px  #9f31c0;;
      text-transform: uppercase; 
      color: rgba(114, 123, 206, 0.719);
    }

    .button {
      color: white;
      background: rgb(48, 107, 161);
    cursor: pointer
    ;}
    
    .button:hover{
      color: white;
      background:  rgb(35, 149, 255);
      background: linear-gradient(221deg, rgb(35, 149, 255) 0%, rgb(35, 149, 255));
    box-shadow: 0px 0px 10px rgba(35, 149, 255, 0.5);
    }
    .input {
  margin: 5px 0;
  background: none;
  border: 1px solid rgb(39, 39, 109);
  outline: none;
// padding: 14px 23px;
width: 100%;
  padding: 11px 22px;
  font-size: 13px;
  color:#2b2a2a;
  // box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
  // rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
  // rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  // rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  // rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
label{
  font-size: 15px;

}
input:focus{
  outline: 0;
  box-shadow: none;
}
input:hover{
  border: 1px solid  rgb(35, 149, 255);
}
