<body class="formback-groundimage">
    <div class="container">
      <div class="header headerlogin">
          <h3><b>Maclink</b></h3>
      </div>
  
      <div class="col-md-4 mx-auto p-3 margin form-design shadow" style="position: relative">
        <h2 class="text-center text-white">Maclink</h2>
        <div class="row">
          <div *ngIf="!isResetPassword">
            <!-- <div class="mb-3">
                <label class="small mb-1">Reset With your id Or Pin</label>
                <select class="form-control" [(ngModel)]="userDetail.type"
                [ngModelOptions]="{standalone: true}">
                    <option value="Id">Your Id</option>
                    <option value="pin">Pin</option>
                </select>
            </div> -->
            <div>
          <!-- <div class="col-md-12 mb-3" *ngIf="userDetail.type == 'pin'">
            <label class="form-label text-white"> Enter Pin</label>
            <input class="form-control"  type="number" [(ngModel)]="userDetail.pin"
            [ngModelOptions]="{standalone: true}" placeholder="Enter Pin" required />
          </div> -->
          <div class="col-md-12 mb-3">
            <label class="form-label text-white">Enter Your Id</label>
            <input class="form-control"  type="text" [(ngModel)]="userDetail.username"
            [ngModelOptions]="{standalone: true}" placeholder="Enter Your Id" required />
          </div>
          <div class="col-md-12">
            <label class="form-label text-white"> Email</label>
            <input class="form-control"  type="email" [(ngModel)]="userDetail.email"
            [ngModelOptions]="{standalone: true}" placeholder="Email" required />
          </div>
       
          <div class="col-md-12">
            <p class="cen">
              <button class="btn mx-auto m-3" (click)="checkDetails()">
                <a class="loginbtn">Check</a>
              </button>
            </p>
          </div>
        </div>
        </div>
        <div *ngIf="isResetPassword">
          <div class="col-md-12">
            <label class="form-label text-white"> Enter Password</label>
            <input class="form-control"  type="password" placeholder="password"     (input)="password($event)" required />
          </div>
          <div class="col-md-12">
            <label class="form-label text-white"> Confrm Password</label>
            <input class="form-control"   type="password"  (input)="confirmpassword($event)"  placeholder="password" required />
            <span class="mt-4" *ngIf="this.showmessage != ''" [ngClass]="this.showmessage == 'Correct Password' ? 'text-success' : 'text-danger'">{{this.showmessage}}</span>
          </div>
          <div class="col-md-12">
            <p class="cen">
              <button class="btn mx-auto mt-3" [disabled]="this.showmessage != 'Correct Password'" (click)="restPassword()">
                <a class="loginbtn">Set Password</a>
              </button>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>