<link rel="stylesheet" href="/node_modules/aos/aos.css" />
<div class="container-xl px-4 mt-4">
  <section>
    <div>
      <div style="text-align: center; color: red;" *ngIf="this.userobj.status === 'block'" class="row">
        <h1>You Block By Admin</h1>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card text-bg-dark mt-2">
            <div class="card-body text-black card">
              <div class="d-flex align-items-center">

                <div class="flex-shrink-0" style="background: transparent">
                  <img *ngIf="
                      userobj.image !=
                      'https://learn2earnn.com/products/cashgrow/0'
                    " src="{{ userobj.image }}"
                    onerror="this.onerror=null;this.src='../assets/boy-icon-png-10.jpg.png'" alt=""
                    class="img-fluid rounded-circle border border-dark border-2" style="width: 90px; height: 90px" />
                  <img *ngIf="
                      userobj.image ===
                      'https://learn2earnn.com/products/cashgrow/0'
                    " style="width: 90px; height: 90px" src="../assets/boy-icon-png-10.jpg.png" alt="" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-row align-items-center mb-2">
                    <p class="mb-0 text-light">{{ userData?.name }}</p>
                    <span class="text-info" style="margin-left: 4px; font-size: 10px">ID {{ userDashboardData?.username
                      }}</span>
                  </div>
                  <div>
                    <p class="text-light">
                      Invited by
                      <span class="text-info" style="font-size: 10px">ID {{ userDashboardData?.InvitedLink | uppercase
                        }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <!-- <hr> -->
              <div style="display: flex; justify-content: space-between;">
                <label class="btn button mt-1 me-1 w-50" for="fileInput">
                  Choose picture
                </label>
                <input type="file" class="pngfile" accept="image/png, image/jpeg" id="fileInput" style="display: none"
                  (change)="imageUpload($event)" />
                <label class="btn button mt-1 w-50" for="openmodal">
                  Edit Profile
                </label>
                <input type="button" class="pngfile" id="openmodal" style="display: none" (click)="open(content)" />
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card mt-2 p-2">
            <div class="card-body text-black">
              <h5 class="card-title text-light mt-2">My Personal Link</h5>
              <p class="card-text text-info">
                https://thecashgrow.com/{{ userDashboardData?.username }}
              </p>
              <a class="btn button" style="color: white" (click)="copyUserId()">Copy</a>&nbsp;&nbsp;
              <a class="btn" style="
                  color: white;
                  height: 40px;
                  width: auto;
                  background-color: #fab915;
                " (click)="downloadApkFromAssets('thecashgrow.apk')">Download App</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <ng-template #content let-modal>
    <div class="row mt-2">

      <div style="padding-bottom: 50px">
        <div class="card mb-4">
          <div class="card-header text-light">Account Details</div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label class="small mb-1 text-light">Full Name (how your name will appear to other
                  users on the
                  site)</label>
                <input class="form-control" type="text" placeholder="Enter your name" value="{{ userobj.name }}"
                  [(ngModel)]="userobj.name" [ngModelOptions]="{ standalone: true }" />
              </div>

              <div class="mb-3">
                <label class="small mb-1 text-light">Contact</label>
                <input class="form-control" type="text" placeholder="Enter your contact"
                  value="{{ userobj.accoundNumber }}" [(ngModel)]="userobj.accoundNumber"
                  [ngModelOptions]="{ standalone: true }" />
              </div>

              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <label class="small mb-1 text-light" for="inputFirstName">Email</label>
                  <input class="form-control" id="inputFirstName" type="email" placeholder="Enter your email"
                    value="{{ userobj.email }}" [(ngModel)]="userobj.email" [ngModelOptions]="{ standalone: true }" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1 text-light">Password</label>
                  <input class="form-control" type="text" placeholder="Enter New Password"
                    value="{{ userobj.password }}" [(ngModel)]="userobj.password"
                    [ngModelOptions]="{ standalone: true }" />
                </div>
              </div>



              <button class="btn button" (click)="updateuser(modal)" type="button">
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <div class="list-group mb-3" style="
      width: 100%;
      margin-left: 0px;
      padding-bottom: 50px;
      border-radius: 15px;
    ">
    <a class="list-group-item list-group-item-action" aria-current="true" *ngFor="let item of randomData">
      <div class="d-flex w-100 justify-content-between py-1">
        <h5 class="mb-1">
          <i class="bi text-success bi-patch-check-fill"></i>
          <span class="badge rounded-pill id">Id:{{ item.randomId }}</span>
        </h5>
        <small class="text-white">{{ item.randomtime }} minutess ago</small>
      </div>
      <p class="mb-1" style="font-size: 14px">
        Has buy package of
        <span class="dollar fw-bold" style="color: #fab915">{{ item.randomamount }}$</span>
      </p>
    </a>
  </div>
</div>
<a href="https://chat.whatsapp.com/KUwuknHAlcELJncih9DHmD" target="_blank">
  <!-- <i class="fa fa-whatsapp my-float"></i> -->
  <img class="float" src="../../../assets/images/whatsapp.png" alt="" />
</a>