// body{margin-top:20px;
//     background-color:#f2f6fc;
//     color:#69707a;
//     }
//     .img-account-profile {
//         height: 10rem;
//     }
//     .rounded-circle {
//         border-radius: 50% !important;
//     }
//     .card {
//         box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
//     }
//     .card .card-header {
//         font-weight: 500;
//     }
//     .card-header:first-child {
//         border-radius: 0.35rem 0.35rem 0 0;
//     }
//     .card-header {
//         padding: 1rem 1.35rem;
//         margin-bottom: 0;
//         background: var(--background-color);
//         color: var( --text-color);
//         border-bottom: 1px solid var(--background-color);
//     }
//     .form-control, .dataTable-input {
//         display: block;
//         width: 100%;
//         padding: 0.875rem 1.125rem;
//         font-size: 0.875rem;
//         font-weight: 400;
//         line-height: 1;
//         color: #69707a;
//         background-color: #fff;
//         background-clip: padding-box;
//         border: 1px solid #c5ccd6;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         appearance: none;
//         border-radius: 0.35rem;
//         transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     }
    
//     .nav-borders .nav-link.active {
//         color: #0061f2;
//         border-bottom-color: #0061f2;
//     }
//     .nav-borders .nav-link {
//         color: #69707a;
//         border-bottom-width: 0.125rem;
//         border-bottom-style: solid;
//         border-bottom-color: transparent;
//         padding-top: 0.5rem;
//         padding-bottom: 0.5rem;
//         padding-left: 0;
//         padding-right: 0;
//         margin-left: 1rem;
//         margin-right: 1rem;
//     }
//     .topmargin{
//         margin-top: 30px;
//         height: 395px;
//     }
//     .ptag{
//         font-size: large;
//         color: black;
//     }
//     .btn-color{
//         background: var(--background-color);
//         color: var( --text-color);
//         margin-top: 5px;
//     }
//     .btnr-color{
//         background-color:red;
//         color: white;
//         margin-right: 10px;
//         margin-top: 5px;
//     }
//     .wave{
//         position: absolute;
//         bottom: 0;
//     }
.bg{
	        background: var(--background-color);

}
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 5px;
        background-color: #25d366;
        // color: #e20505;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        box-shadow: 2px 2px 3px #999;
       
       }
       @media screen and (max-width: 480px) {
        .float {
            display: none;
        }
    }
	.packe{
		background:  rgb(35, 149, 255);
	  }
	  .card-body{
		background:rgb(36, 42, 85);
		color: white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
			}
	  .card-body:hover{
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	  
	  }
	  .head-c{
		text-transform: uppercase;
	  }
	  .card{
		border-radius: none;
	  }
	  .card-back {
  
		background: rgba(31, 35, 68, 0.822);
		padding: 5px;
		}
		.card:hover{
		  border: 1px solid rgb(35, 149, 255);
		  transition: all 1s ease-out 1s;
		  margin-top:-3px ;
		}



#generic_price_table{
    padding-bottom: 20px;
	// background-color: #ec3333;
	height: 100%;
	color: black;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background: rgb(119,213,255);
	background: linear-gradient(90deg, rgba(119,213,255,1) 0%, rgba(255,139,251,1) 100%);	border-radius: 30px;
	color: black;
}
#generic_price_table .generic_content .generic_head_price{
	// color: red;
	background: rgb(119,213,255);
	background: linear-gradient(90deg, rgba(119,213,255,1) 0%, rgba(255,139,251,1) 100%);	border-radius: 30px;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	// border-color:#00ff00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00ff00;
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
	color: black;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	text-shadow: 3px 3px 3px  #9f31c0a8;
	text-transform: uppercase; 
	color: rgb(114, 123, 206);
	font-weight: bold;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    color: #414141;
}
.sign{
    color:  black;
	font-weight: 400;
}
#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color:  black;
	font-weight: 400;

}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color:  black;
	font-weight: 400;

}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #fafafa;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
    color:  black;
	
}

#generic_price_table .generic_content .generic_feature_list ul li span{
    color:  black;
	color: rgb(2, 85, 23);


}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	// background-color:#00ff00;
	border-left: 5px solid #121212;
	color: rgb(2, 85, 23);
}

// #generic_price_table .generic_content .generic_price_btn a{
// 	// border: 1px solid hsl(0, 78%, 39%); 
// } 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #121212 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #121212;
    color:  rgb(0, 0, 0);
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color:  rgb(255, 255, 255);
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color:#000000;
	color: #fff;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid white;
} 
#generic_price_table{
	margin: 50px 0 50px 0;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	color: black;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
	font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #121212;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
// 

#generic_price_table_home .turquoise{
	background: #121212;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}



// <-------------alter Css------------->


.button {
	color: white;
	background: rgb(48, 107, 161);
  cursor: pointer
  ;}
  
  
  .button:hover{
	color: white;
	background:  rgb(35, 149, 255);
	background: linear-gradient(221deg, rgb(35, 149, 255) 0%, rgb(35, 149, 255));
  box-shadow: 0px 0px 10px rgba(35, 149, 255, 0.5);
  }
  
  
  .button-nav {
	position: relative;
	transition: all 0.3s ease-in-out;
	padding-block: 0.5rem;
	padding-inline: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffff;
	gap: 10px;
	font-weight: bold;
	outline: none;
	overflow: hidden;
	font-size: 15px;
  }
  
  
  
  
  
 
  
  .button-nav::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 100%;
	background-image: linear-gradient(
	  120deg,
	  rgba(255, 255, 255, 0) 30%,
	  rgba(255, 255, 255, 0.8),
	  rgba(255, 255, 255, 0) 70%
	);
	top: 0;
	left: -100px;
	opacity: 0.6;
  }
  
  @keyframes shine {
	0% {
	  left: -100px;
	}
  
	60% {
	  left: 100%;
	}
  
	to {
	  left: 100%;
	}
  }
  .hero-text{
	// text-shadow: 3px 3px 3px  #9f31c0;;
	text-transform: uppercase; 
	color: rgba(114, 123, 206, 0.719);
  }

.input{
	background: rgba(255, 255, 255, 0.658);
}
input:focus{
	outline: 0;
	box-shadow: none;
}
.pop{
		background: #5f027edc;
	
}
@media (max-width:600px) {
	.modal-body{
		padding: 30px;
	}

}


.btn-shine {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// padding: 12px 48px;
	color: #fff;
	background: linear-gradient(to right, #9f9f9f 0,   rgb(35, 149, 255) 20%,  rgb(242, 243, 243) 30%);
	background-position: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 3s infinite linear;
	animation-fill-mode: forwards;
	-webkit-text-size-adjust: none;
	font-weight: 600;
	font-size: 13px;
	text-decoration: none;
	white-space: nowrap;
	font-family: "Poppins", sans-serif;
  }
  @-moz-keyframes shine {
	0% {
	  background-position: 0;
	}
	60% {
	  background-position: 180px;
	}
	100% {
	  background-position: 180px;
	}
  }
  @-webkit-keyframes shine {
	0% {
	  background-position: 0;
	}
	60% {
	  background-position: 180px;
	}
	100% {
	  background-position: 180px;
	}
  }
  @-o-keyframes shine {
	0% {
	  background-position: 0;
	}
	60% {
	  background-position: 180px;
	}
	100% {
	  background-position: 180px;
	}
  }
  @keyframes shine {
	0% {
	  background-position: 0;
	}
	60% {
	  background-position: 180px;
	}
	100% {
	  background-position: 180px;
	}
  }
  *{
	font-family: "Poppins", sans-serif;
  
  }