<!-- <div class="container-xl px-4 mt-4">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          For Package -> I'd activation method for others Users
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <input
                class="form-control"
                readonly="true"
                type="text"
                placeholder="Enter ID"
                value="PKR 950"
              />
            </div>
            <div class="col-md-6 col-12 mt-4">
              <button
                (click)="ActivePackage()"
                class="btn btn-color"
                type="button"
                [disabled]="hasClickedAddPackage"
              >
                Active Now!
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="generic_price_table">   
<section>
        <div class="container" style="background: black; color: white;">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix ">
                        <h1 class="mt-4 fs-2" style="color: white; text-transform: uppercase;">Activate Package</h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container " style="background: black;">
            
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4" *ngFor="let item of alldata;let i=index"
                >
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix"  
                    style="position: relative;
                    background-size: cover;
                    /* background-position: center; */
                    background-repeat: no-repeat;
                    width:100%;
                  height: auto;
                  color: white;
                  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8); 
                    background-image: url(../../../assets/plan.png);" >
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix"
                         >
                            
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix" >
                            
                            	<!--HEAD START-->
                                <div class="head_bg" ></div>
                                <div class="head">
                                    <span>{{item.name}}</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price" >
                                    <span class="sign fw- normal">$</span>
                                    <span class="currency fw-normal">{{item.minprice}}</span>
                                    <span class="cent fw-normal">.00</span>
                                </span>&nbsp; 
                                <span class="price" >
                                    <span class="sign fw- normal">$</span>
                                    <span class="currency fw-normal">{{item.maxprice}}</span>
                                    <span class="cent fw-normal">.00</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                       	<ul>
                            <li><span>Return</span>&nbsp;&nbsp;{{item.percentage}}.00%</li>
                            <li><span>Every Day</span> </li>
                            <li>For&nbsp;<span>{{item.days}}&nbsp;</span>Days </li>
                            <li>Total&nbsp;<span>{{item.days}}%</span> </li>
                            	<!-- <li  *ngFor="let pack of item.levelAmount"><span> {{pack.level}}</span>&nbsp;&nbsp;{{pack.Package}}${{pack.bouns}}</li> -->
                            </ul>
                        </div>

                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn button  clearfix">
                            <!-- <a (click)="time()">Profit</a> -->
                            <button *ngIf = "item.pstatus === 'active'"[disabled]="true" (click)="activep(i)"  style="color: rgb(4, 4, 4);">Activated</button>
                            <button *ngIf = "item.pstatus !== 'active'"  (click)="activep(i)"  style="color: rgb(0, 0, 0);">Active</button>
                            <!-- <a (click)="ActivePackage(20,15,10,5,3,1,1)">Activate Now</a> -->
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                <!-- <div class="col-md-4">
                
                	PRICE CONTENT START
                    <div class="generic_content active clearfix">
                        
                        HEAD PRICE DETAIL START
                        <div class="generic_head_price clearfix">
                        
                            HEAD CONTENT START
                            <div class="generic_head_content clearfix">
                            
                            	HEAD START
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>
                                //HEAD END
                                
                            </div>
                            //HEAD CONTENT END
                            
                            PRICE START
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">30</span>
                                    <span class="cent">.00</span>
                                </span>
                            </div>
                            //PRICE END
                            
                        </div>                            
                        //HEAD PRICE DETAIL END
                        
                        FEATURE LIST START
                        <div class="generic_feature_list">
                        	<ul>
                            <li *ngFor="let package of PackageDetails"><span>{{this.package.level}} </span>&nbsp;&nbsp; {{this.package.Package2}}$ {{this.package.bouns}} </li>
                      

                            </ul>
                        </div>
                        //FEATURE LIST END
                        
                        BUTTON START
                        <div class="generic_price_btn clearfix">
                        	<a (click)="ActivePackage(30, 25, 20, 15,10,5,1)">Activate Now</a>
                        </div>
                        //BUTTON END
                        
                    </div>
                    //PRICE CONTENT END
                        
                </div>
                <div class="col-md-4">
                
                	PRICE CONTENT START
                    <div class="generic_content clearfix">
                        
                        HEAD PRICE DETAIL START
                        <div class="generic_head_price clearfix">
                        
                            HEAD CONTENT START
                            <div class="generic_head_content clearfix">
                            
                            	HEAD START
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Unlimited</span>
                                </div>
                                //HEAD END
                                
                            </div>
                            //HEAD CONTENT END
                            
                            PRICE START
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">60</span>
                                    <span class="cent">.00</span>
                                </span>
                            </div>
                            //PRICE END
                            
                        </div>                            
                        //HEAD PRICE DETAIL END
                        
                        FEATURE LIST START
                        <div class="generic_feature_list">
                        	<ul>
                            <li *ngFor="let package of PackageDetails"><span> {{this.package.level}}</span>&nbsp;&nbsp; {{this.package.Package1}}$ {{this.package.bouns}} </li>
                            
                            </ul>
                        </div>
                        //FEATURE LIST END
                        
                        BUTTON START
                        <div class="generic_price_btn clearfix">
                        	<a (click)="ActivePackage(60, 50, 40,30,20,10,1)">Activate Now</a>
                        </div>
                        //BUTTON END
                        
                    </div>
                    //PRICE CONTENT END
                        
                </div> -->
            </div>	
            <!-- //BLOCK ROW END -->
            
        </div>
    </section>             
</div>
<a href="https://chat.whatsapp.com/KUwuknHAlcELJncih9DHmD" target="_blank">
  <!-- <i class="fa fa-whatsapp my-float"></i> -->
  <img class="float" src="../../../assets/images/whatsapp.png" alt="" />
</a>

