<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4" style="margin-top: 30px;">
                <div class="card-header">Update Social Orders</div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Link</label>
                            <input class="form-control" type="text" placeholder="Link">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Code</label>
                            <input class="form-control" type="text" placeholder="Code">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">whatsapp Number</label>
                            <input class="form-control" type="text" placeholder="Number">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Status</label>
                            <input class="form-control" type="text" placeholder="Status">
                        </div>
                        <div class="col-md-6 col-12 mt-4">
                            <button class="btn btn-color" type="button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<a href="https://chat.whatsapp.com/KUwuknHAlcELJncih9DHmD" target="_blank" > 
    <!-- <i class="fa fa-whatsapp my-float"></i> -->
    <img class="float" src="../../../assets/images/whatsapp.png" alt="">
  </a>
