
    <div class="content" >
      <!-- Your content goes here -->
  <div class="header bg-head ">
    
        <h1 ><a href="#" class="fs-2" >
          <img src="../../../assets/maclink white png.png" alt="" style="width: 50px;height: 50px;"><span class="text-white mt-2"
         >Cashgrow</span></a></h1>

    </div>
<div class="  form">
    <div class="  m-auto   ">
      <!-- <h2 class="text-center fs-2 hero-text"  ><span >Cashgrow</span></h2> -->
      <!-- <h6 class="text-center fs-4 "  >  Login in to your account.</h6> -->
    <div class="row">
      <div class="col-lg-5 col-md-5 mt-5 ">
        <img   class="img-bg"  src="../../../assets/computer-security-with-login-password-padlock-removebg-preview.png" alt="">
      </div>
   
<div class=" m-auto col-lg-6 mt-2 py-5 col-md-6 col-sm-10 p-0 form">
    <div class=" col-lg-6 col-md-8 col-sm-10 m-auto   ">
      <!-- <h2 class="text-center fs-2 hero-text"  ><span >Maclink</span></h2> -->
      <h6 class="text-center fs-4 fw-bold p-2  "  >  Login in to your account.</h6>

      <div class="row mt-5">
        <div class="col-md-12  " style="margin-top: 10px;  ">
          <label class="form-label text-white" > </label>
          <input
            class="rounded-2 input"
            [(ngModel)]="userdata.email"
            placeholder="Enter Email"
            required
          />
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
          <label class="form-label text-white"> </label>
          <input
            class=" input rounded-2"
            [(ngModel)]="userdata.password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="col-md-12 col-6 col-sm-12 mt-3">
          <!-- <p style="margin-top: 20px; color: #cc1616;">
            <input class="form-check-input" type="checkbox" value="" />
            <label
              style="margin-left: 3px; color: #cc1616;"
              class="form-check-label text-white"
            >
              Remember me
            </label>
          </p> -->
        </div>
        <div class="col-md-12 col-sm-12 col-6 " >
          <p class="password text-end"  >
            <a href="#/forgetpassword" >Forget password?</a>
          </p>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 m-auto">
          <p >
            <button class=" rounded-2 m-auto m-3 button" style="width: 80%;"  (click)="Login()">
              <a  >Login</a>
            </button>
          </p>
        </div> 
<div class="m-auto text-center"><p class="fs-6">Don't have an account? <a (click)="goToRegiester()"><span class="password" style="font-size: 14px;margin-left: 10px; cursor: pointer; color: rgb(98, 98, 214);"><b>Sign up</b></span></a></p></div>
      </div>
    </div>
  </div>
</div>
        </div>








<div class="my-container">
  <ngx-loading
    [show]="loading"
    
    [config]="{
      animationType: ngxLoadingAnimationTypes.threeBounce,
      fullScreenBackdrop: true ,
      primaryColour: '#007bff',
      secondaryColour: '#007bff',
      tertiaryColour: '#007bff',
      backdropBorderRadius: '3px' }"

  ></ngx-loading>
</div>