<div class="mobileapk">
  <div class="header headclr style">
    <div class="d-flex" style="align-items: center">
      <div class="menu-toggle-btn">
        <a href="#">
          <i class="text-white bi bi-list"></i>
        </a>
      </div>
      <a href="index.html" class="logo">
        <img width="100" src="" alt="logo" />
      </a>
      <h5 class="page-title">{{ path | titlecase }}</h5>
    </div>
  </div>
</div>
<div
  class="mobilevie"
  style="
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
    width: 100%;
  "
>
  <div class="d-flex align-items-center justify-content-between">
    <div class="flex-shrink-0">
      <img
      *ngIf="
        userobj.image !=
        'https://learn2earnn.com/products/cashgrow/0'
      "
      src="{{ userobj.image }}"
      onerror="this.onerror=null;this.src='../assets/boy-icon-png-10.jpg.png'"
      alt=""
      class="img-fluid rounded-circle border border-dark border-2"
      style="width: 40px; height: 40px"
    />
    <img
      *ngIf="
        userobj.image ===
        'https://learn2earnn.com/products/cashgrow/0'
      "
      style="width: 40px; height: 40px"
      src="../assets/boy-icon-png-10.jpg.png"
      alt=""
    />
    </div>
    <div class="flex-grow-1 ms-3">
      <div class="d-flex flex-row align-items-center mb-2" style="float: left">
        <h6 style="margin-top: 20px; margin-left: -5px">
          <b>{{ this.userobj.name }}</b>
        </h6>
      </div>

      <div class="menu-toggle-btn" style="float: right; color: black">
        <a href="#">
          <img
            class="sidemenubtn"
            src="./../../../assets/images/tile.png"
            alt=""
          />
        </a>
      </div>
      <i
        style="
          float: right;
          font-size: 27px;
          margin-right: 20px;
          margin-top: 8px;
        "
        class="bi bi-cloud-arrow-down-fill"
        *ngIf="this.router.url == '/default/index'"
        (click)="downloadApkFromAssets('Cashgrow.apk')"
      ></i>
    </div>
  </div>
</div>
