body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background: var(--background-color);
        color: var( --text-color);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .topmargin{
        margin-top: 30px;
        height: 395px;
    }
    .ptag{
        font-size: large;
        color: black;
    }
    .btn-color{
        background: var(--background-color);
        color: var( --text-color);
        margin-top: 5px;
    }
    .btnr-color{
        background-color:red;
        color: white;
        margin-right: 10px;
        margin-top: 5px;
    }
    .wave{
        position: absolute;
        bottom: 0;
    }
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 5px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        box-shadow: 2px 2px 3px #999;
       
       }
       @media screen and (max-width: 480px) {
        .float {
            display: none;
        }
    }



    // <---------------Alter Css------------------->

    

.container{
  background:  rgba(16,14,60,1);
  height: 100%;
}
// .card{
//   // background:  rgb(37, 34, 102);

// }

.list-group-item{
  background:  rgb(37, 34, 102);
  color: rgb(0, 0, 0);
  border-bottom: 1px solid  rgba(255, 255, 255, 0.603);
  ;
}


.list-group-item p{
  color: rgb(255, 255, 255);
  padding-top: 5px;

}
// .card:hover{
//   margin:-3px 0;
//   transition: all 0.2s;

// }
.heading{
  background: linear-gradient(135deg, #7015ad 0%, #942307 100%);

}

  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(37, 37, 37, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color:rgb(35, 149, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 12px;
  }
  

  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  *{
    font-family: "Poppins", sans-serif;
  
  }