
.card-body{
    border-radius: 8%;
    background:  rgba(16,14,60,1);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    }
    .card-body{
    margin-top: 5px;
    }
    
    .card-body:hover {
      transform: scale(1.02, 1.02);
     -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden;
     will-change: transform;
     background-color:whitesmoke;
     box-shadow: 0 1rem 3rem rgba(189, 189, 189, 0.75) !important;
     }
     .card-body:hover::after {
     opacity: 1;
     }
     .shadow{
      border-radius: 5px;
      margin-bottom: 23px;
     }
     .nav{
      display: flex;
      justify-content: space-between;
     }
     .p1{
      color: rgb(7, 6, 6);
      font-size: large;
      font-weight: bold;
      cursor: pointer;
     }
     .d{
      color: black;
     }
     @media (max-width:767px) {
      .text-muted {
        font-size: 15px;
      }
     }
    
    .nav-pills .nav-item .nav-link.active {
      
      color: rgb(241, 62, 62);
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      color: black;
      text-align: left;
    }
    
    
    @media (min-width:767px) {
      .g{
      
        margin-right: auto;
      }
    }
    @media (max-width:991px) {
      .g{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    .t-heading{
      background:  rgb(37, 34, 102);
    }
    th{
      color: white;

    }
    .nav-item{
      justify-content: space-between;
      padding-left: 10px;
    }
    ul{
       height: 100%;
    }