<header class="page-header">
  <div class="container">
    <i
      class="float-start icons text-white bi bi-arrow-left"
      (click)="goToBack()"
      style="font-size: 30px; margin-right: 8px"
    >
    </i>
    <h2 class="text-white fw-bold">Support System</h2>
  </div>
</header>
<div class="main">
  <div class="container" 
  data-mdb-perfect-scrollbar="true"
    style="
      position: relative;
      overflow-y: scroll;
      padding-top: 90px;
      padding-bottom: 70px;
      height:100vh;
"
  #chatMessages>
    <div class="chat-log" *ngFor="let item of allComplain">
      <div class="chat-log__item mt-2" *ngIf="item.reciver == other">
        <h3 class="chat-log__author">
          {{ item.name }}
          <small class="text-primary">{{
            item.datetime | date : "d MMM yyyy h:mm a"
          }}</small>
        </h3>
        <div class="chat-log__message" *ngIf="item.reply != ''">
          {{ item.reply }}
        </div>
        <div class="chat-log__message" *ngIf="item.reply == ''">
          {{ item.message }}
        </div>
      </div>
      <div
        class="chat-log__item chat-log__item--own"
        *ngIf="item.sender == other"
      >
        <h3 class="chat-log__author">
          {{ item.name }}
          <small class="text-primary">{{
            item.datetime | date : "d MMM yyyy h:mm a"
          }}</small>
        </h3>
        <div class="chat-log__message" *ngIf="item.message != ''">
          {{ item.message }}
        </div>
        <div class="chat-log__message" *ngIf="item.message == ''">
          {{ item.reply }}
        </div>
      </div>
    </div>
  </div>
  <br />


  <div class="chat-form" style="background: transparent; height: 95px">
    <div class="container" style="background: black; height: 100px">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-10 col-8 col-xs-8 mt-2">
            <input
              (keyup.enter)="addComplain()"
              class="input"
              style="background: transparent; border: none; color: white"
              type="text"
              class="form-control"
              placeholder="Message"
              [(ngModel)]="message"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
       
      </form>
      <div style="float: right; " class="col-sm-2 col-4 col-xs-4 text-center mt-2">
        <button type="submit" style="margin-top: -40px;" class="btn float-end button" (click)="addComplain()">Send</button>
      </div>
    </div>
  </div>
</div>
