html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// .card {
//   border-radius: .5rem;
// }
.wave{
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .float {
      display: none;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 5px;
  background-color: #fab915;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 2px 3px #999;
 
 }







//  <-----------------Alter Css------------------->


  .container{
    background:  #1a1f22;
  }
  .card{
    background:  #1a1f22;
  
  }
  
  .list-group-item{
    background:  white;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.603);;
    font-size: 11px;
  }
  
  
  .list-group-item p{
    color: rgb(0, 0, 0);
    padding-top:2px;
  
  }
  .box-c:hover{
    margin:-3px 0;
    transition: all 0.3s;
  
  }
  .heading{
    background: #fab915;
  
  }
  .t-head{
    background:  #1a1f22;
  }
  th{
    width:470px;
    padding: 3px;
    border: 1px solid  rgba(116, 114, 114, 0.603);

  }
  td{
    padding: 3px;
    border: 1px solid  rgba(116, 114, 114, 0.603);

  }
.table{
  margin: 5px auto;
width: 100%;
padding: auto;

// display: grid;

}
*{
  font-family: "Poppins", sans-serif;

}