<!-- ======= Top Bar ======= -->

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center sticky-top">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <h1 class="logo"><a href="#">Cashgrow</a></h1> -->
    <h1 class="logo">
      <a href="#" class="fw-bold"
        ><img src="../../../assets/maclink white png.png" alt="" />Cashgrow</a
      >
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar " class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto rounded-2 button-nav" href="#hero"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto rounded-2 button-nav" href="#about"
            >About</a
          >
        </li>
        <li>
          <a class="nav-link scrollto rounded-2 button-nav" href="#services"
            >Services</a
          >
        </li>
        <li>
          <a class="nav-link scrollto rounded-2 button-nav" href="#pricing"
            >Packages</a
          >
        </li>
        <li>
          <a class="nav-link scrollto rounded-2 button-nav" href="#contact"
            >Contact</a
          >
        </li>
      </ul>
      <i
        class="bi bi-list mobile-nav-toggle"
        (click)="open(content)"
        style="color: #f1f1f1"
      ></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- <div class="scroll-to-top" style="display: block;">
    <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true">UP</i>
    </span>
</div> -->

<a href="#" class="scroll-top btn-hover" style="display: block">
  <i class="bi bi-rocket py-3 px-3"></i>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    fill="currentColor"
    class="bi bi-rocket"
    viewBox="0 0 20 20"
  ></svg>
</a>

<!-- <========== New Design  Modal Content ===================== > -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" style="z-index: 1; background: none">
    <div class="row">
      <div class="col-lg-6 float-start mt-5 "    data-aos-easing="linear"
      data-aos-duration="500" >
        <h1 > <span class="fs-2">Welcome to</span> 
        </h1> <br>
        <h1> <span class="hero-text fw-bold mt-5" data-aos="fade-down">Cashgrow</span> </h1>
      </div>
      <div class="col-lg-6">
        <div class="bounce-in-top  hero-png"><img src="../../../assets/pngwing.com (20).png" alt=""></div>
    
      </div>
    </div>
    <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
    <!-- <a  class="btn-get-started scrollto m-3 rounded-2 btn-lg " [routerLink]="['/login']">Login</a> 
      <a  class="btn-get-started-register scrollto rounded-2 btn-lg" (click)="goToRegiester()">Register</a>
      <a  class="btn-get-started-register scrollto m-3 rounded-2" (click)="downloadApkFromAssets('Cashgrow.apk')">Download App</a> -->
    <a
      class="btn-get-started button btn-lg fw-bold scrollto m-2 mt-0 rounded-2"
      [routerLink]="['/login']"
      data-aos="fade-up"
      data-aos-duration="5000"
      >Login</a
    >
    <a
      class="btn-get-started button btn-lg fw-bold scrollto m-2 mt-0 rounded-2"
      (click)="goToRegiester()"
      data-aos="fade-up"
      data-aos-duration="5000"
      >Register</a
    >
    <a
      class="btn-get-started button scrollto fw-bold btn-lg m-2 mt-0 rounded-2"
      (click)="downloadApkFromAssets('Cashgrow.apk')"
      data-aos="fade-up"
      data-aos-duration="5000"
      >Download App</a
    >
  </div>
</section>
<!-- End Hero -->

  <!-- ======= About Section ======= -->
  <!-- <img src="assets/images/planet.webp" class="img-fluid" alt="" > -->
  <!-- <section id="about" class="about">
      <div style="background-image: url(../../../assets/about.jpg);
        background-size: cover;
  position: relative;
">
      
        <div class="row">
          <div class="col-lg-6 col-md-6 order-1 order-lg-2 aboutSectionImage" data-aos="fade-right">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pt-4 pt-lg-0 order-2 order-lg-1 content " data-aos="fade-right">
            <span class="fs-1 fw-semibold py-4 " style="color: #cc1616;">About Cashgrow</span>
            <div class="content-des">

              <span class=" fs-4 py-3 ">
                Cashgrow is a decentralized, blockchain- and based online earning application that operates on the usdt network.
              </span>
              <p class="fst-italic py-3">
                It functions as a smart contract program allowing participants to earn dollars through a peer-to-peer matrix system. Users join by paying an entry fee in dollars (USDT), which grants them access to the matrix.
                Participants can earn through a referral program by inviting others to join the platform. As new members join under their referral link, they can earn commissions based on the contributions made by these new members. Cashgrow operates on a self-executing smart contract, ensuring transparency and immutability of transactions.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </section> -->
  <!-- <ul>
    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
  </ul> -->

  <section id="about" class="about-section  " >
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6 text-center m-auto p-3">
        <div class="rounded-pill text-center m-auto w-50 h-50 py-3 px-3 uppercase drop-text" data-aos="fade-down" data-aos-duration="3000"> About Cashgrow</div>
    
      </div>
    </div>
        <div class="container" >
          <div class="row">
            <div class="col-lg-6 col-sm-12 text-center m-auto " data-aos="fade-right" data-aos-duration="3000">
              <img src="../../../assets/pngwing.com (17).png" alt="" style="width: auto; height: 300px;">
            </div>
            <div class="col-lg-6 col-sm-12    " >
              <div class="">
                <h2 class="section-title mb-3 "><span class="font-weight-normal text-center px-3 mt-4 "  data-aos="zoom-out-down" data-aos-duration="2000" > Cashgrow</span> </h2>
                <div class="content-des mt-2 py-3" data-aos="fade-left" data-aos-duration="2000">
    
                 
                  <p class="  text-start text-white  about-cont mt-2  " style="font-size: 14px;" >
                    <span class="fst-italic fs-5  text-white  text-start about-cont mt-2 ">
                Cashgrow is a decentralized, blockchain and based online earning application that operates on the (USDT) network.
                    </span> <br>
                    It functions as a smart contract program allowing participants to earn dollars through a peer-to-peer matrix system. Users join by paying an entry fee in dollars (USDT), which grants them access to the matrix.
                    Participants can earn through a referral program by inviting others to join the platform. As new members join under their referral link, they can earn commissions based on the contributions made by these new members. Cashgrow operates on a self-executing smart contract, ensuring transparency and immutability of transactions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="col-lg-3 col-md-6 col-sm-10 text-center m-auto p-3">
  <div class="rounded-pill text-center m-auto  py-3 px-3 uppercase drop-text" data-aos="fade-down" data-aos-duration="3000"> Registeration catagories</div>
</div>
<h2 class="section-title text-center"><span class="font-weight-normal fs-1  text-center m-auto text-white hero-reg">Registeration </span> 
</h2>

<div class="row mt-5">
  
  <div class="col-2"></div>
  <div class="col-lg-4 col-md-12 col-sm-10 m-auto text-center " >
    

      <div class="card-back "  data-aos="fade-down" data-aos-duration="2000">
        <div class="p-4 " >

        <div class="col-lg-4 col-md-6 col-sm-10 text-center m-auto ">
          <img src="../../../assets/analytics_6802460.png" alt="" style="width: 60px; height:60px;">
        </div>
          <p class=" text-start  text-white p-3" >
            The registration process for your Cashgrow website account is designed to be 
            straightforward and user-friendly. Prospective users begin by visiting the 
            application's website or downloading the apk version.
          </p>
      </div>
      
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-10 m-auto text-center " >
    

    <div class="card-back "  data-aos="fade-down" data-aos-duration="2000">
      <div class="p-4 " >

      <div class="col-lg-4 col-md-6 col-sm-12 text-center m-auto ">
        <img src="../../../assets/analytics_6802460.png" alt="" style="width: 60px; height:60px;">
      </div>
        <p class=" text-start  text-white p-3" >
          The registration process for your Cashgrow website account is designed to be 
          straightforward and user-friendly. Prospective users begin by visiting the 
          application's website or downloading the apk version.
        </p>
    </div>
    
  </div>
</div>
<div class="col-2"></div>
</div>


</section>
  <!-- End Why Us Section -->

  <!-- ======= Services Section ======= -->

  <section id="services" class="services">
    <div class="col-lg-3 col-md-6 col-sm-8 text-center m-auto p-3">
      <div
        class="rounded-pill text-center m-auto py-3 px-3 uppercase drop-text"
        data-aos="fade-down"
        data-aos-duration="3000"
      >
        Cashgrow services
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center py-2">
        <div class="col-lg-6 text-center">
          <div class="section-header" data-aos="zoom-out-down">
            <h2 class="section-title text-center">
              <span
                class="font-weight-normal "
                >Services</span
              >
            </h2>
            <p
              class="col-lg-12 py-2 fs-6 text-white"
              data-aos="fade-down">
              These services collectively aim to create a comprehensive and
              rewarding experience for users, leveraging blockchain technology
              to enable secure, transparent, and diversified earning
              opportunities.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="service-box col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-currency-bitcoin bx bxl-dribbble"></i>
            </div>
            <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
            <!-- <h4><a href="">Lorem Ipsum</a></h4> -->
            <b class="fs-5 py-2 text-white"
              >Decentralized Earning Opportunities</b
            >

            <p class="py-4 fst-italic text-white p-2" >
              Cashgrow platform provides a decentralized environment where users
              can access various earning opportunities, including smart
              contracts, staking, yield farming, and participating in DeFi
              protocols. These avenues enable users to earn passive income
              through USDT holdings and interactions with blockchain-based
              financial tools.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-cash-coin bx bx-file"></i>
            </div>
            <!-- <h4><a href="">Sed ut perspiciatis</a></h4> -->
            <b class="fs-5 py-2 text-white" 
              >Secure Wallet Integration</b
            >

            <p class="py-4 fst-italic text-white p-2" >
              Offering secure wallet integration within the platform allows
              users to manage their earned USDT. This feature ensures a safe and
              encrypted environment for storing, sending, and receiving various
              digital assets earned through the platform.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-trophy bx bx-tachometer"></i>
            </div>
            <!-- <h4><a href="">Magni Dolores</a></h4> -->
            <b class="fs-5 py-2 text-white" 
              >Tokenized Reward Systems</b
            >

            <p class="py-4 fst-italic text-white p-2">
              Implementing a token-based reward system incentivizes user
              engagement and loyalty. Users earn platform-specific tokens or
              rewards for completing tasks, participating in the community, and
              contributing positively. These tokens might offer additional
              benefits, such as discounts, access to premium features, or higher
              earnings.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="450"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-book-half bx bx-world"></i>
            </div>
            <!-- <h4><a href="">Nemo Enim</a></h4> -->
            <b class="fs-5 py-2 text-white" 
              >Community Engagement and Learning Resources</b
            >

            <p class="py-4 fst-italic text-white p-2">
              Your platform may foster a vibrant community by providing forums,
              discussion boards, and social features where users can interact,
              share insights, and support each other. Additionally, offering
              educational resources like tutorials, articles, and webinars about
              blockchain technology, investing, and decentralized finance
              enhances user knowledge and engagement.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-graph-up-arrow bx bx-slideshow"></i>
            </div>
            <!-- <h4><a href="">Dele cardo</a></h4> -->
            <b class="fs-5 py-2 text-white"
              >Transparent Analytics and Reporting
            </b>
            <p class="py-4 fst-italic text-white p-2" >
              Providing transparent analytics and reporting tools allows users
              to track their earnings, performance metrics, and transaction
              history easily. Real-time data insights empower users to make
              informed decisions regarding their earning strategies within the
              platform.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="750"
        >
          <div class="icon-box rounded-2 p-2">
            <div class="icon rounded-2">
              <i class="bi bi-people-fill bx bx-arch"></i>
            </div>
            <!-- <h4><a href="">Divera don</a></h4> -->
            <b class="fs-5 py-2 text-white"
              >Partnerships and Ecosystem Expansion
            </b>

            <p class="py-4 fst-italic text-white p-2">
              Continuously seeking partnerships with other blockchain projects,
              DeFi protocols, or digital asset platforms expands the earning
              possibilities for users. Collaborations can offer new earning
              streams, a wider range of supported cryptocurrencies, and
              opportunities for growth within the platform's ecosystem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
      <!-- <div class="section-title">
          <span>Packages</span>
          <h2>Pricing</h2>
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-8 text-center m-auto p-3">
          <div
          class="rounded-pill text-center m-auto py-3 px-3 uppercase drop-text"
          data-aos="fade-down"
          data-aos-duration="3000"
        >
          Package Pricing
        </div>
      </div>
      <h2 class="section-title text-center">
        <span
          class="font-weight-normal "
          data-aos="zoom-out-down"
        >
          Packages</span
        >
      </h2>

      <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 ">
            <div class="card-header py-3 packe text-white ">
              <h4 class="my-0 fw-normal text-white pack">BASIC</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$10 &nbsp;&nbsp; <small class=" ">/&nbsp;&nbsp; $100</small></h1>
            

               <div class="generic_feature_list p-1 ">
                              <ul>

                              <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                              <div class="col-6 text-start">   Daily Returns</div>
                              <div class="col-5">  <span>1.50%</span></div>
                        
                          </li>
                          <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                            <div class="col-6 text-start">Everday</div>
                            <div class="col-5">  <span>Bonus</span></div>
                        
                        </li> <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                          <div class="col-6 text-start">Package Days</div>
                          <div class="col-5 price-b">  <span>180 </span></div>
                        
                        </li>
                              </ul>
                      </div>
              <button type="button" class=" btn button">Invest now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4  ">
            <div class="card-header py-3 packe">
              <h4 class="my-0 fw-normal text-white pack">PRIME</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$500 &nbsp;&nbsp;<small >/ &nbsp;&nbsp;$1000</small></h1>
              <!-- <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul> -->

              <div class="generic_feature_list p-1 ">
                <ul>

                <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                <div class="col-6 text-start">   Daily Returns</div>
                <div class="col-5">  <span>1.50%</span></div>
          
            </li>
            <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
              <div class="col-6 text-start">Everday</div>
              <div class="col-5">  <span>Bonus</span></div>
          
          </li> <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
            <div class="col-6 text-start">Package Days</div>
            <div class="col-5 price-b">  <span>120 </span></div>
          
          </li>
                </ul>
        </div>
              <button type="button" class=" btn button">Invest Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4  ">
            <div class="card-header py-3 packe">
              <h4 class="my-0 fw-normal text-white pack">PRIME PLUS</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$2000 &nbsp;&nbsp; <small>/&nbsp; $5000</small></h1>
              <!-- <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul> -->
              <div class="generic_feature_list p-1 ">
                <ul>

                <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                <div class="col-6 text-start">   Daily Returns</div>
                <div class="col-5">  <span>2.00%</span></div>
          
            </li>
            <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
              <div class="col-6 text-start">Everday</div>
              <div class="col-5">  <span>Bonus</span></div>
          
          </li> <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
            <div class="col-6 text-start">Package Days</div>
            <div class="col-5 price-b">  <span>90 </span></div>
          
          </li>
                </ul>
        </div>
              <button type="button" class=" btn button">Invest Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 ">
            <div class="card-header py-3 packe">
              <h4 class="my-0 fw-normal text-white pack">PREMIUM</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$10,000 &nbsp;&nbsp;<small >/&nbsp;&nbsp;$15,000</small></h1>
              <!-- <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul> -->

               <div class="generic_feature_list p-1 ">
                              <ul>

                              <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                              <div class="col-6 text-start">   Daily Returns</div>
                              <div class="col-5">  <span>2.50%</span></div>
                        
                          </li>
                          <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                            <div class="col-6 text-start">Everday</div>
                            <div class="col-5">  <span>Bonus</span></div>
                        
                        </li> <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                          <div class="col-6 text-start">Package Days</div>
                          <div class="col-5 price-b">  <span>90 </span></div>
                        
                        </li>
                              </ul>
                      </div>
              <button type="button" class="  btn button">Invest Now</button>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card mb-4 ">
            <div class="card-header py-3 packe">
              <h4 class="my-0 fw-normal text-white pack">PREMIUM PLUS</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$20,000 &nbsp;&nbsp;<small>/&nbsp;&nbsp;$25,000</small></h1>
              <!-- <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul> -->

               <div class="generic_feature_list p-1 ">
                              <ul>

                              <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                              <div class="col-6 text-start">   Daily Returns</div>
                              <div class="col-5">  <span>3.00%</span></div>
                        
                          </li>
                          <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                            <div class="col-6 text-start">Everday</div>
                            <div class="col-5">  <span>Bonus</span></div>
                        
                        </li> <li class="d-flex p-1 mt-3"><div class="col-2">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-check" icon-name="check-check" class="lucide lucide-check-check"><path d="M18 6 7 17l-5-5"></path><path d="m22 10-7.5 7.5L13 16"></path></svg></div>
                          <div class="col-6 text-start">Package Days</div>
                          <div class="col-5 price-b">  <span>60 </span></div>
                        
                        </li>
                              </ul>
                      </div>
              <button type="button" class=" btn button">Invest Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->

     
              <!-- <li style=" color:rgb(0, 0, 0);padding: 15px 0;"><span>Level 1&nbsp;&nbsp;&nbsp;5$ Direct</span></li>
                <li style="color: rgb(0, 0, 0);padding: 15px 0; "><span>Level 2&nbsp;&nbsp;&nbsp;1$ bouns </span></li>
                <li style="color: rgb(0, 0, 0);padding: 15px 0; "><span>&nbsp; &nbsp;Level 3&nbsp;&nbsp;&nbsp;0.5$ bouns</span> </li> -->
              <!-- <li><span>Profit</span>&nbsp;&nbsp;{{ item.percentage }}%</li> -->
              <!-- <li>
                Duration&nbsp;<span>&nbsp;{{ item.days }}Days</span>
              </li>
            </ul>
            <div class="btn-wrap">
              <a
                class=""
                [routerLink]="['/login']"
                class="btn-buy button rounded-2"
                >Buy Now</a
              >
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="col-lg-3 col-md-6 col-sm-8 text-center m-auto p-3">
      <div
        class="rounded-pill text-center m-auto py-3 px-3 uppercase drop-text"
        data-aos="fade-down"
        data-aos-duration="3000"
      >
        How to reach
      </div>
    </div>
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center">
          <span
            data-aos="zoom-out-down"
            data-aos-duration="1000"
          >
            Contact</span
          >
        </h2>

        <p class="py-4 fs-5 text-center text-white">
          For any questions, concerns, or inquiries feel free to contact us.
        </p>
      </div>
     
      <div class="row">
<div class="col-lg-6 col-md-12 col-sm-12">
  <div
  class="form "
>
  <!-- <div
    class="  text-center mt-3 m-auto"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <button class=" px-3">
      Cashgrow.cc@gmail.com
      <span class="dark">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-arrow-right-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 
                      2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 
                      .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
          />
        </svg>
      </span>
    </button>
  </div> -->
  <div class="" data-aos="fade-down" data-aos-duration="1500">
    <h4 class="section-title text-center">
      <span class="font-weight-normal fs-3">Our Address</span>
      <img src="../../../assets/map-7453623.png" alt="" class="map">
    </h4>
    <p class="text-center ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pin-map-fill text-white"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"
        />
        <path
          fill-rule="evenodd"
          d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z "
        />
      </svg>
      <span class="py-1 px-2 text-white locate">
        A108 Adam Street, New York, NY 535022</span
      >
      <span class="py-1 px-2 text-white locate">
        <p class="button" style= "width: 150px;padding: 2px;
        height:22px; border-radius: 5px; color: white; text-align: center; margin: auto;">Cashgrow.cc@gmail.com</p>
        </span
      >
      
    </p>
    
  </div>
</div>
</div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <form
        action="forms/contact.php"
        method="post"
        role="form"
        class="php-email-form p-5"
        data-aos="fade-left"
        data-aos-duration="2000"
      >
        <div class="row" data-aos="fade-up">
          <div class="col-lg-6 p-1">
            <input
              placeholder="Name  "
              class="input rounded-2 p-3 border-2"
              name="text"
              type="text"
            />
          </div>
          <div class="col-lg-6 p-1">
            <input
              placeholder="Email "
              class="input rounded-2 p-3 border-2"
              name="text"
              type="text"
            />
          </div>
          <div class="col-lg-12 p-1">
            <input
              placeholder="Subject  "
              class="input rounded-2 p-3 border-2"
              name="text"
              type="text"
            />
          </div>
          <div class="col-lg-12 p-1">
            <textarea
              class="input rounded-2 border-2 p-3 w-100"
              name="Message  "
              rows="6"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-start my-3">
            <button class="rounded-2 button" type="submit">Send Message</button>
          </div>
        </div>
      </form>
      
     
      </div>
     </div>

        <!-- <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div> -->

        <!-- <div class="col-lg-12 col-md-6 form">
            <div class=" mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>Cashgrow.cc@gmail.com</p>
            </div>
          </div> -->

        <!-- <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div> -->

      <!-- <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div> -->
      <!-- <div class="row" data-aos="fade-up">


          <div class="col-lg-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div> -->

   
    </div>
  </section>
  <!-- End Contact Section -->
<!-- End #main -->

<footer id="footer">
 

  




  <div class="container">
  
    <div class="copyright">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 col-md-12 col-sm-12 m-auto text-center"
              data-aos="fade-right"
              data-aos-duration="2000"
            >
              <h4 class="fs-5 text-start">Our Newsletter</h4>
              <form action="" method="post" class="d-flex p-4">
                <input
                  type="email"
                  name="email"
                  class="text-white w-100 fs-6 p-2 border-1 rounded-2 border-light"
                  style="background: transparent"
                  placeholder="Email address "
                />
                &nbsp;
                <button
                  type="submit"
                  value=""
                  class="button p-2 rounded-2"
                  style="min-width: 90px;border: none;"
                >
                  subscribe
                </button>
              </form>
            </div>
            <br />
            <div
              class="col-lg-6 col-md-12 col-sm-12 footer-newsletter "
              data-aos="fade-left"
              data-aos-duration="2000"
            >
              <div class=" footer-links float-end text-end">
                
                <p class=" text-start payment text-white">Useful Links</p>
                <ul class="">
                  <li>
                    <i class="bx bx-chevron-right  "></i>
                    <a [routerLink]="['/tems']" class="mt-2" >Terms and Condition</a>
                  </li>
                  <li>
                    <i class="bx bx-chevron-right"></i>
                    <a [routerLink]="['/privacy-policy']">Privacy policy</a>
                  </li>
                </ul>
              </div>
              <div class=" text-center">
                
                <p class=" text-center payment text-white">Payment Methods</p>
                    <img src="../../../assets/pngwing.com (22).png" alt="" class="partner mx-1">
                    <img src="../../../assets/pngwing.com (23).png" alt="" class="partner mx-1 ">
              </div>
    
            </div>
          </div>
        </div>
      </div>
      <div class="copy">
        &copy; Copyright <strong><span>Cashgrow</span></strong
          >. All Rights Reserved
    
      </div>
      <div class="credits">
        Designed by <a href="#" style="color: rgb(28, 97, 161)">Cashgrow</a>
      </div>
    </div>

  </div>
  <section id="topbar" class="d-flex align-items-center">
    <div
      class="container d-flex justify-content-center justify-content-md-between"
    >
      <div class="contact-info d-flex align-items-center copy">
        <i class="bi bi-envelope-fill"></i
        ><a href="mailto:Cashgrow.cc@gmail.com">Cashgrow.cc@gmail.com</a>
        <!-- <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55 -->
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </section>
</footer>
<!-- End Footer -->

<ng-template #content let-offcanvas class="bg-dark">
  <div class="offcanvas-header bg-toggle">
    <h4 class="offcanvas-title text-white" id="offcanvas-basic-title">
      <b>Cashgrow</b>
    </h4>
    <button
      type="button"
      style="background: transparent; color: white"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="offcanvas-body text-black">
    <div class="card35 text-black" (click)="offcanvas.close('Save click')">
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-house-door"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px">
        <b><a class="text-black" href="#hero">Home</a></b>
      </p>
    </div>
    <div class="card35 text-black" (click)="offcanvas.close('Save click')">
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-box"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px">
        <b><a class="text-black" href="#about">About</a></b>
      </p>
    </div>

    <!-- <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-capslock"></i></b> </p>
            <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px;">
                <b><a class="text-white" href="#services">Services</a></b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-capslock"></i></b> </p>
            <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px;">
                <b><a class="text-white" href="#pricing">Packages</a></b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-c-circle"></i></b> </p>
            <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px;">
                <b><a class="text-white" href="#contact">Contact us</a></b>
            </p>
        </div> -->

    <div
      [routerLink]="['/tems']"
      class="card35 text-black"
      (click)="offcanvas.close('Save click')"
    >
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-terminal"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px">
        <b>Terms & conditions</b>
      </p>
    </div>
    <div
      [routerLink]="['/privacy-policy']"
      class="card35 text-black"
      (click)="offcanvas.close('Save click')"
    >
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-shield-check"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px">
        <b>Privacy policy</b>
      </p>
    </div>
    <div
      [routerLink]="['/login']"
      class="card35 text-black"
      (click)="offcanvas.close('Save click')"
    >
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-box-arrow-in-right"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ" style="padding-left: 20px">
        <b>Login </b>
      </p>
    </div>
    <div
      class="card35 text-black"
      (click)="offcanvas.close('Save click') || goToRegiester()"
    >
      <p style="padding-left: 10px; margin-top: 3px">
        <b><i style="font-size: 25px" class="bi bi-r-circle"></i></b>
      </p>
      <p class="wokingtextyyyZZZZZZZ text-black" style="padding-left: 20px">
        <b>Register</b>
      </p>
    </div>
  </div>
</ng-template>
