<!-- Preloader Part Start -->
<div class="main">
  <div id="prelaoder">
    <div class="cssload-loader">
      <div class="cssload-flipper">
        <div class="cssload-front"></div>
        <div class="cssload-back"></div>
      </div>
    </div>
  </div>
  <!-- Preloader Part End -->

  <!-- Header Part Start -->
  <header>
    <div class="header-top">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-4 text-center text-md-left">
            <div class="header-top-left mb-2 mb-md-0">
              <ul class="flat-list social-icon">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-8 text-center text-md-right">
            <div class="header-top-right">
              <ul class="flat-list">
                <li>
                  <h5>+0.11+</h5>
                  <h5>+0.13+</h5>
                </li>
                <li>
                  <h5><i class="fa fa-caret-up"></i> Day Hight 88.77</h5>
                  <h5><i class="fa fa-caret-down"></i> Day Hight 88.77</h5>
                </li>
                <li>
                  <a href=".chart-popup-content" class="popup-chart"><img src="assets/images/header-top-icon.png"
                      alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Price Chart Part Start -->
    <div class="section-p chart-popup-content mfp-hide" style="background: #fff">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <div class="treading">
              <h2>Treding <span class="brand-color">Fee 0%</span></h2>
              <h5 class="brand-color semi-bold">
                On the UK's no.1 Cashgrow exchange
              </h5>
              <p>
                Cashgrow Hit $15000 in Magor Milestone for #1 CryptoCurrency.Lorem
                Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it.
              </p>
              <a href="/#/registrationform?id=google" class="btn-2 bold mx-3">Sign UP</a>
            </div>
          </div>
          <div class="col-md-6 text-center mt-3 mt-md-0">
            <div class="price-chart">
              <div class="btcwdgt-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Price Chart Part End -->

    <!-- Navigation -->

    <nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="main-logo" href="index.html"><img style="height: 90px" src="../../../assets/images/bg/Cash.png"
            alt="LOGO" /></a>
        <div class=" navbar-toggler mobile-toggle ml-auto ml-sm-0">
          <!-- <a href="#" class="btn-1">Free Consultation</a> -->
          <a style="border: solid 2px white;" class="btn-1 c text-white " href="../../../assets/Macklink.pdf"
            download="The Cashgrow">
            Download!
          </a>
        </div>

        <!-- <button
        class="navbar-toggler mobile-toggle ml-auto ml-sm-0"
        type="button"
        data-toggle="collapse"
        data-target="#nav-list"
      >
        <i class="fa fa-bars"></i>
      </button> -->

        <div id="nav-list" class="navbar-collapse collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown-box">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#packages">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contacts</a>
            </li>
          </ul>
        </div>

        <div class="out-link d-none d-lg-inline">
          <!-- <a href="/#/registrationform?id=google" class="btn-1">Join&nbsp;Us</a> -->
          <a class="btn-1 c text-white" href="../../../assets/Macklink.pdf" download="The Cashgrow">
            Download!
          </a>
          <!-- <a  class="btn-1 text-white" (click)="downloadApkFromAssets('Maclink.apk')">Download App</a> -->

        </div>
      </div>
    </nav>

    <!-- mobile manu -->

    <!-- Header Part End -->

    <!-- Banner Part Start -->
    <section id="banner-part">
      <div class="banner">
        <div class="owl-carousel banner-active">
          <swiper-container class="mySwiper" pagination-dynamic-bullets="true" space-between="30" centered-slides="true"
            autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide>
              <div class="banner-item">
                <div class="container">
                  <div class="row d-flex align-items-center">
                    <div class="col-12 col-sm-7 col-md-7">
                      <div class="banner-caption" data-aos="fade-down">
                        <h1>CASH<span class="brand-color">GROW</span></h1>
                        <p class="h3" style="font-size: 18px">Cash<span class="brand-color">grow </span> is a
                          distinguished entity in the financial services sector,
                          committed to providing exceptional investment
                          opportunities, referral programs, and team-building
                          initiatives.
                        </p>
                        <ul class="regular-list d-none d-md-inline">
                          <li>
                            <i class="fa fa-angle-right"></i> Free Cashgrow Wallet
                          </li>
                          <li>
                            <i class="fa fa-angle-right"></i> Free Cashgrow Visa,
                            Master Card, Soffortansfer etc.
                          </li>
                          <li>
                            <i class="fa fa-angle-right"></i> Sell Cashgrow
                            instantly to yopur bank account, neteller, Amazon.de
                          </li>
                        </ul>
                        <a href="/#/login" class="btn-2 bold mx-3">Login</a>
                        <a href="/#/registrationform?id=google" class="btn-2 bold mx-3">Sign up</a>
                      </div>
                    </div>
                    <div class="col-8 offset-2 offset-sm-0 col-sm-5 col-md-5 d-none d-sm-inline-block">
                      <div class="banner-right">
                        <img src="../../../assets/images/banner-right-bg.png" alt="Banner Right img" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="banner-item">
                <div class="container">
                  <div class="row d-flex align-items-center">
                    <div class="col-12 col-sm-7 col-md-7">
                      <div class="banner-caption" data-aos="fade-down">
                        <h1>CASH<span class="brand-color">GROW</span></h1>
                        <p class="h3" style="font-size: 18px">
                          Cash<span class="brand-color">grow</span> is a
                          distinguished entity in the financial services sector,
                          committed to providing exceptional investment
                          opportunities, referral programs, and
                          team-building initiatives.
                        </p>
                        <ul class="regular-list d-none d-md-inline">
                          <li>
                            <i class="fa fa-angle-right"></i> Free Cashgrow Wallet
                          </li>
                          <li>
                            <i class="fa fa-angle-right"></i> Free Cashgrow Visa,
                            Master Card, Soffortansfer etc.
                          </li>
                          <li>
                            <i class="fa fa-angle-right"></i> Sell Cashgrow
                            instantly to yopur bank account, neteller, Amazon.de
                          </li>
                        </ul>
                        <a href="/#/login" class="btn-2 bold mx-3">Login</a>
                        <a href="/#/registrationform?id=google" class="btn-2 bold mx-3">Sign up</a>
                      </div>
                    </div>
                    <div class="col-8 offset-2 offset-sm-0 col-sm-5 col-md-5 d-none d-sm-inline-block">
                      <div class="banner-right">
                        <img src="../../../assets/images/banner-right-bg-2.png" alt="Banner Right img" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </section>
    <!-- Banner Part End -->

    <!-- About Part Start -->
    <section id="about" class="section-p">
      <div class="container">
        <h1 class="text-center">
          <b>About <span style="color: #fab915">Us</span></b>
        </h1>
        <div class="row mt-5">
          <div class="col-sm-12 col-sm-10 col-lg-4 text-center " data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="500">
            <div class="about-item">
              <h2>Introduction</h2>
              <img src="../../../assets/images/about-1 (1).png" alt="" />
              <p>
                Cashgrow is a distinguished entity in the financial services
                sector, committed to providing exceptional investment
                opportunities, referral programs, and team-building initiatives.
                The company and team-building strategies, alongside leveraging
                trading activities to maximize client returns.
              </p>
              <a href="#" class="btn-2">Read More</a>
            </div>
          </div>
          <div class="col-sm-12 col-sm-6 col-lg-4 text-center   " data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="800">
            <div class="about-item">
              <h2>Mission Statement</h2>
              <img src="../../../assets/images/about-2 (1).png" alt="" />
              <p>
                "To revolutionize financial empowerment by providing comprehensive
                investment solutions, fostering a robust referral ecosystem, and
                nurturing a collaborative community, all while ensuring
                sustainable profitability through strategic trading practices."
              </p>
              <a href="#" class="btn-2">Read More</a>
            </div>
          </div>
          <div class="col-sm-12 col-sm-6 col-lg-4 text-center " data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="about-item mb-0">
              <h2>Vision</h2>
              <img src="../../../assets/images/about-3 (1).png" alt="" />
              <p>
                "To establish Cashgrow as a global leader in financial services,
                synonymous with integrity, innovation, and inclusive growth,
                thereby setting new standards in wealth generation and
                community development. We are available 24/7 for support."
              </p>
              <a href="#" class="btn-2 ">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Part End -->

    <!-- Countries Part Start -->
    <section id="countries-part" class="section-p">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-head" data-aos="zoom-out-down">
              <h2>
                We are working with <span class="brand-color">4 Countries</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-md-3">
            <div class="country" data-aos="fade-down-right">
              <h1>1.</h1>
              <h3>Australia</h3>
              <p>More then 1 Million are working.</p>
            </div>
            <div class="country mb-4 mb-md-0" data-aos="fade-up-right">
              <h1>2.</h1>
              <h3>Indonesia</h3>
              <p>More the 200k People are working.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="global-map">
              <img src="assets/images/bg/global-map.png" alt="" />
              <div class="map-maker maker-1">
                <div class="parent" data-aos="fade-down-right">
                  <img src="assets/images/target.png" alt="" />
                  <div class="country-geter">
                    <span>1 <span class="shape"></span></span>
                  </div>
                </div>
              </div>
              <div class="map-maker maker-2">
                <div class="parent" data-aos="fade-down-left">
                  <img src="assets/images/target.png" alt="" />
                  <div class="country-geter">
                    <span>2 <span class="shape"></span></span>
                  </div>
                </div>
              </div>
              <div class="map-maker maker-3">
                <div class="parent" data-aos="fade-down-right">
                  <img src="assets/images/target.png" alt="" />
                  <div class="country-geter">
                    <span>3 <span class="shape"></span></span>
                  </div>
                </div>
              </div>
              <div class="map-maker maker-4">
                <div class="parent" data-aos="fade-down-left">
                  <img src="assets/images/target.png" alt="" />
                  <div class="country-geter">
                    <span>4 <span class="shape"></span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="country mt-4 mb-sm-0 mb-md-4 mt-md-0" data-aos="fade-down-left">
              <h1>3.</h1>
              <h3>India</h3>
              <p>More the 264k People are working.</p>
            </div>
            <div class="country mb-0 mt-3 mt-sm-4 mt-md-0" data-aos="fade-up-left">
              <h1>4.</h1>
              <h3>Pakistan</h3>
              <p>More then 500k People are working.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Countries Part End -->

    <!-- Service Part Start -->
    <section id="service-part" class="section-p">
      <div class="container">
        <div class="row d-md-flex align-items-md-center">
          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right">
            <div class="service-left">
              <h2 class="mb-2">Get <span>Connect</span> with us</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reprehenderit in sed tempore, ea exercitationem natus.
              </p>
              <form class="form-group mt-3 mt-sm-4 mb-0">
                <div class="row">
                  <div class="col-12">
                    <h1>
                      Visit Cash<span style="color: #fab915">grow </span> to
                      invest now!
                    </h1>
                  </div>
                  <div class="col-12">
                    <a class="btn-4 mt-3" href="/#/registrationform?id=google">Visit Now</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="whyus">
              <div class="section-head">
                <h4>What We Do</h4>
                <h2>Why <span>Choose</span> Us</h2>
              </div>
              <div class="why-item" data-aos="fade-left">
                <div class="why-item-img">
                  <img src="../../../assets/images/why-1 (1).jpg" alt="" />
                </div>
                <div class="why-item-des" data-aos="fade-left">
                  <h3>Investment Plans</h3>
                  <p>
                    Cashgrow leverages a strategic investment approach, focusing
                    on long-term growth and stability
                  </p>
                </div>
              </div>
              <div class="why-item" data-aos="fade-left">
                <div class="why-item-img">
                  <img src="../../../assets/images/why-2 (1).jpg" alt="" />
                </div>
                <div class="why-item-des" data-aos="fade-left">
                  <h3>Referal Earning</h3>
                  <p>
                    The company's referral program is designed to incentivize
                    current clients to refer new clients, creating a mutually
                    beneficial ecosystem.
                  </p>
                </div>
              </div>
              <div class="why-item mb-0">
                <div class="why-item-img" data-aos="fade-left">
                  <img src="../../../assets/images/why-3 (1).jpg" alt="" />
                </div>
                <div class="why-item-des" data-aos="fade-left">
                  <h3>Team Profit</h3>
                  <p>
                    The combination of investment gains, referral earnings, and
                    trading profits provides Cashgrow with multiple, sustainable
                    revenue streams.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Part End -->

    <!-- Token Part End -->
    <section id="token-part" class="section-p">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-5 offset-lg-0 
          " data-aos="fade-down" data-aos-duration="2000">
            <div class="token-left">
              <div class="token-left-bg">
                <div class="offer">
                  <img src="../../../assets/images/token-left-sub.png" alt="" />
                  <h2>TOKEN <span class="brand-color">SALES !</span></h2>

                  <div class="buy-btn">
                    <a href="#">Buy CPTO Token</a>
                  </div>

                  <div class="count-down">
                    <div data-countdown="2018/03/11"></div>
                  </div>

                  <div class="payment">
                    <p>We accept BTC, ETC, LTC and Other</p>
                    <div class="method d-flex align-items-center justify-content-center">
                      <a href="#"><img class="rounded-2" src="../../../assets/images/card-icon-1 (1).jpg" alt="" /></a>
                      <a href="#"><img class="rounded-2" src="../../../assets/images/card-icon-2 (1).jpg" alt="" /></a>
                      <a href="#"><img class="rounded-2" src="../../../assets/images/card-icon-3 (1).jpg" alt="" /></a>
                      <a href="#" class="box-mth">Wire Transfer</a>
                    </div>
                  </div>
                </div>
                <div>
                  <h2 class="brand-color">
                    $<span class="counter">222222222</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mt-4 mt-sm-5 mt-lg-0" data-aos="fade-left">
            <div class="token-right">
              <div class="tab-content">
                <div class="tab-item eng active">
                  <h2 class="mt-4 mb-2">
                    Welcome to <span class="brand-color">Cashgrow</span>
                  </h2>
                  <h3 class="semi-bold">
                    Pay with Cashgrow currency in
                    <span class="brand-color">81,0000,000</span> stories
                    Worldwide.
                  </h3>
                  <div class="row no-gutters">
                    <div class="col-12 col-lg-4 col-md-5">
                      <ul class="points points01">
                        <li class="h5" data-aos="fade-left">
                          <i class="fa fa-angle-right"></i> Refferals Earning
                          Program
                        </li>
                        <li class="h5" data-aos="fade-left">
                          <i class="fa fa-angle-right"></i> Advance Trading
                          Platform
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-lg-8 col-md-7 pl-lg-1">
                      <ul class="points points01">
                        <li class="h5" data-aos="fade-left">
                          <i class="fa fa-angle-right"></i>Financial and Market in
                          insight
                        </li>
                        <li class="h5" data-aos="fade-left">
                          <i class="fa fa-angle-right"></i> Investment
                          Diversification and Returns
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="d-sm-flex align-items-sm-center text-center">
                    <ul class="flat-list buttons-group">
                      <li><a href="#" class="btn-4" data-aos="fade-right">WhitePaper</a></li>
                      <li data-aos="fade-left">
                        <a href="#" class="btn-4"><i class="fa fa-play"></i>See Our MVP</a>
                      </li>
                      <li data-aos="fade-up">
                        <a href="#" class="btn-4"><i class="fa fa-send"></i> Chat</a>
                      </li>
                    </ul>
                    <ul class="flat-list social-icon">
                      <li data-aos="fade-down">
                        <a href="#"><i class="fa fa-btc"></i></a>
                      </li>
                      <li data-aos="fade-up">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-12 col-sm-6">
                      <div class="points-1">
                        <div class="img" data-aos="fade-down">
                          <img src="assets/images/token-icon-1.png" alt="" />
                        </div>
                        <h4>Why Cashgrow is Unique</h4>
                        <a href="#">Read More</a>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="points-1">
                        <div class="img" data-aos="fade-down">
                          <img src="assets/images/token-icon-2.png" alt="" />
                        </div>
                        <h4>My Chart</h4>
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Token Part End -->

    <!-- Currency Calculator Part start -->
    <section id="calculator-part" class="section-p">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-6" data-aos="fade-right">
            <div class="calculator-left">
              <h2>Cashgrow <span class="brand-color"> Calculator</span></h2>
              <p>
                At Cashgrow, we emphasize that trading and investing carry a
                significant level of risk and may not be suitable for all clients.
                It is imperative to carefully consider your investment objectives,
                level of experience, and risk appetite before engaging in buying
                or selling activities. Please be aware that buying or selling
                financial instruments entails financial risks and could lead to a
                partial or complete loss of your funds.
              </p>

              <div class="buy-btn">
                <button href="/#/registrationform?id=google" class="btn-4">
                  Join Us
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-left">
            <div class="exchange mt-5 ">
              <img src="../../../assets/images/calculator-bg-removebg-preview.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Currency Calculator Part End -->

    <!-- Counter Part Start -->
    <section id="counter-part" class="section-p">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12 mb-3 mb-sm-4 mb-lg-0" data-aos="fade-down">
            <div class="counter-item text-center">
              <h2 class="counter">599</h2>
              <h5>Transactions in last 24h</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 mb-3 mb-sm-4 mb-lg-0" data-aos="fade-down">
            <div class="counter-item text-center">
              <h2 class="counter">15</h2>
              <h5>Transactions Per Hour</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 mb-3 mb-sm-4 mb-sm-0" data-aos="fade-down">
            <div class="counter-item text-center">
              <h2 class="counter">300</h2>
              <h5>Largest Transactions</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12" data-aos="fade-down">
            <div class="counter-item text-center">
              <h2 class="counter">10</h2>
              <h5>Year of Experiences</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Part End -->

    <!-- Price Part Start -->
    <section id="packages" class="section-p">
      <div class="container">
        <div data-aos="zoom-out-down">
          <h1 class="text-center" data-aos="zoom-out-down">
            <b>Packages <span style="color: #fab915">Detail</span></b>
          </h1>

        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 px-4" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="price-item">
              <div style="margin-top: -20px" class="coin-type">
                <h5 class="text-white">Basic</h5>
              </div>
              <h3>$10 / $5000</h3>
              <p>for</p>
              <h2 style="font-size: 20px">
                Daily Return
                <span style="color: black; margin-left: 30px">1.0%</span>
              </h2>
              <h2 style="font-size: 20px; margin-left: -20px">
                Package Days
                <span style="color: black; margin-left: 20px">180</span>
              </h2>
              <!-- <a (click)="goToRegiester()" class="btn-1" style="color: white"
              >INVEST</a
            > -->
              <a class="btn-4 mt-3" href="/#/registrationform?id=google">INVEST</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 px-4" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="price-item">
              <div style="margin-top: -20px" class="coin-type">
                <h5 class="text-white">PRIME</h5>
              </div>
              <h3>$6000 / $15000</h3>
              <p>for</p>
              <h2 style="font-size: 20px">
                Daily Return
                <span style="color: black; margin-left: 30px">1.5%</span>
              </h2>
              <h2 style="font-size: 20px; margin-left: -20px">
                Package Days
                <span style="color: black; margin-left: 20px">120</span>
              </h2>
              <a class="btn-4 mt-3" href="/#/registrationform?id=google">INVEST</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 px-4" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="price-item">
              <div style="left: -70px; top: 35px; position: absolute" class="coin-type">
                <h5 class="text-white">PRIME PLUS</h5>
              </div>
              <h3>$16000 / $30000</h3>
              <p>for</p>
              <h2 style="font-size: 20px">
                Daily Return
                <span style="color: black; margin-left: 30px">2.0%</span>
              </h2>
              <h2 style="font-size: 20px; margin-left: -20px">
                Package Days
                <span style="color: black; margin-left: 20px">90</span>
              </h2>
              <a class="btn-4 mt-3" href="/#/registrationform?id=google">INVEST</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5 px-4" data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="price-item">
              <div style="left: -50px; top: 25px; position: absolute" class="coin-type ">
                <h5 class="text-white">PREMIUM</h5>
              </div>
              <h3>$31000 / $50000</h3>
              <p>for</p>
              <h2 style="font-size: 20px">
                Daily Return
                <span style="color: black; margin-left: 30px">2.5%</span>
              </h2>
              <h2 style="font-size: 20px; margin-left: -20px">
                Package Days
                <span style="color: black; margin-left: 20px">72</span>
              </h2>
              <a class="btn-4 mt-3" href="/#/registrationform?id=google">INVEST</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5 px-4" data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="price-item">
              <div style="left: -70px; top: 50px; position: absolute" class="coin-type">
                <h5 class="text-white">PREMIUM PLUS</h5>
              </div>
              <h3>$55000 / $100000</h3>
              <p>for</p>
              <h2 style="font-size: 20px">
                Daily Return
                <span style="color: black; margin-left: 30px">3.0%</span>
              </h2>
              <h2 style="font-size: 20px; margin-left: -20px">
                Package Days
                <span style="color: black; margin-left: 20px">60</span>
              </h2>
              <a class="btn-4 mt-3" href="/#/registrationform?id=google">INVEST</a>
            </div>
          </div>

          <div class="col-12 text-center mt-5">
            <a href="#" class="btn-4">Load More Cashgrow</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Price Part End -->

    <!-- Price Chart Part Start -->
    <section id="price-chart-part" class="section-p">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="treading" data-aos="fade-right">
              <h2>
                Trading and <span class="brand-color">Profit </span>Allocation
              </h2>
              <p>
                Central to Cashgrow's financial strategy is its engagement in
                various trading activities, including stocks, forex, commodities,
                and cryptocurrencies. The company's trading experts leverage
                advanced analytics, market research, and risk assessment tools to
                make informed trading decisions, aiming to secure the best
                possible returns. The profits from these trading activities are
                then allocated to investors based on their contribution and
                investment plan, ensuring a transparent and fair
                distribution of gains.
              </p>
              <p>
                standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it.
              </p>
              <a href="/#/registrationform?id=google" class="btn-2 bold mx-3">Sign UP</a>
            </div>
          </div>
          <div class="col-md-6  m-auto text-center" data-aos="fade-left">
            <img class="btc" height="400px" src="../../../assets/pngwing.com (17).png" alt="" />
            <!-- <div class="price-chart">
						<div class="btcwdgt-chart"></div>
					</div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- Price Chart Part End -->

    <!-- Why Digital currency Part start -->
    <section>
      <div id="contact" class="section-p">
        <div class="container">
          <div class="row">
            <h1 class="text-center" data-aos="zoom-out-down">
              Future <span style="color: #fab915"> Prospects</span>
            </h1> <br>
            <div class="col-12 col-md-6 mt-4 " data-aos="fade-right">
              <div class="why">
                <img src="../../../assets/images/why (1).png" alt="" />
              </div>
            </div>
            <div class="col-12 col-md-6 mt-4 " data-aos="fade-left">
              <div class="why-digital-currency">
                <h2>
                  Why are so many
                  <span class="brand-color">people investing</span> Cashgrow
                </h2>
                <a href="#" class="btn-3 mb-2 mt-4 mt-md-3 mb-lg-3 mt-lg-4">Buy and sell Cashgrows</a>
                <p class="h5">
                  Looking forward, Cashgrow aims to expand its global footprint,
                  develop new financial products, and enhance its technology
                  platform to provide more efficient and effective services. The
                  company is committed to continuous improvement, client
                  satisfaction, and long-term sustainability, striving to remain
                  at the forefront of the financial services industry.
                </p>
                <div class="sign-btn mt-3 mt-sm-4">
                  <a href="/#/registrationform?id=google" class="btn-2 bold mx-3">Sign UP</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="clint-part" class="section-p">
      <div class="row justify-content-center   ">
        <div class="col-md-1"></div>
        <div class=" col-md-2 col-sm-2 clint-logo-item" data-aos="fade-up" data-aos-duration="3000">
          <a href="#" class="clint-logo"><img src="../../../assets/images/about-1 (1).png" alt="" /></a>
        </div>
        <div class=" col-md-2 col-sm-2 clint-logo-item" data-aos="fade-up" data-aos-duration="3000">
          <a href="#" class="clint-logo"><img src="../../../assets/images/about-1 (1).png" alt="" /></a>
        </div>
        <div class=" col-md-2 col-sm-2 clint-logo-item" data-aos="fade-up" data-aos-duration="3000">
          <a href="#" class="clint-logo"><img src="../../../assets/images/about-1 (1).png" alt="" /></a>
        </div>
        <div class="col-md-2 col-sm-2 clint-logo-item" data-aos="fade-up" data-aos-duration="3000">
          <a href="#" class="clint-logo"><img src="../../../assets/images/about-1 (1).png" alt="" /></a>
        </div>
      </div>
    </div>
    <!-- Why Digital currency Part End -->

    <!-- Newsletter Part Start -->
    <div id="newsletter">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <div class="subscribe-text">
              <h2 class="mb-1">Subscribe to Our Newsletter</h2>
              <p>
                Sign up for our weekly indusry Update, insider perspectives and
                analysis.
              </p>
            </div>
          </div>
          <div class="col-md-6 text-center text-md-right mt-3 mt-md-0">
            <div class="subscribe-form">
              <form>
                <input type="email" class="form-control" placeholder="Insert your email" />
                <button class="btn-4">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter Part End -->

    <!-- Blog Part Start -->
    <section id="services" class="section-p padding-110">
      <div class="container">
        <div class="col-12 col-sm-12 col-md-12" data-aos="fade-down" data-aos-duration="1000">
          <div class="section-head text-center">
            <h2><b> Cashgrow</b> <span style="color: #fab915"> Services</span></h2>
            <p>
              These services collectively aim to create a comprehensive and
              rewarding experience for users, leveraging blockchain technology
              to enable secure, transparent, and diversified earning
              opportunities.
            </p>
          </div>
        </div>
        <div class="row m-auto texr-start">
          <div class="blog-item shape1  col-sm-12 col-md-6 col-lg-4 m-auto" data-aos="fade-down"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/im1.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Decentralized Earning Opportunities</h3>
              </a>
              <p class="mb-2 mt-2">
                Cashgrow platform offers a decentralized environment for users to
                access staking, yield farming, earn the community and DeFi
                protocols, enabling passive income through USDT holdings and
                blockchain tools.
              </p>
            </div>
          </div>

          <div class="blog-item shape2 col-sm-12 col-md-6 col-lg-4 m-auto" data-aos="fade-down"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/im2.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Secure Wallet Integration</h3>
              </a>
              <p class="mb-2 mt-2">
                Offering secure wallet integration within the platform allows
                users to manage their earned USDT. This feature ensures a safe and
                encrypted environment for storing, sending, and receiving various
                digital assets earned through the platform.
              </p>
            </div>
            <br>

          </div>
          <br>

          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto" data-aos="fade-down"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/im3.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Tokenized Reward Systems</h3>
              </a>
              <p class="mb-2 mt-2">
                Implementing a token-based reward system incentivizes user
                engagement and loyalty. Users earn the community platform-specific
                tokens earn the community or rewards for completing tasks,
                participating into the community. .
              </p>
            </div>
          </div>
          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/images/blog-1 (1).jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Community Engagement and Learning Resources</h3>
              </a>
              <p class="mb-2 mt-2">
                Your platform may foster a vibrant community by providing forums,
                discussion boards, and social features finance enhances where
                users can interact, share insights, and support each other and
                decentralized finance enhances finance enhances user knowledge and
                finance enhancesengagement
              </p>
            </div>
          </div>
          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img rounded-1">
              <img src="../../../assets/images/blog-2 (1).jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Transparent Analytics and Reporting</h3>
              </a>
              <p class="mb-2 mt-2">
                Providing transparent analytics and and transaction history easily
                and reporting tools allows users to track their earnings,
                performance metrics, and transaction decisions history easily and
                transaction history easily. Real-time data insights empower users
                to make informed decisions regarding their earning strategies
                within the platform.
              </p>
            </div>
          </div>

          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/images/blog-3 (1).jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Partnerships and Ecosystem Expansion</h3>
              </a>
              <p class="mb-2 mt-2">
                Continuously seeking partnerships with other blockchain projects,
                DeFi protocols, or digital asset platforms expands the earning
                possibilities for users. Collaborations can offer new earning
                streams, a wider range of supported cryptocurrencies, and
                opportunities for growth within the platform's ecosystem. .
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section d="faq">
      <div class="container">

        <div class="row m-auto texr-start">
          <br>
          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/images/pic1.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>NFT Gaming</h3>
              </a>
              <p class="mb-2 mt-2">
                Another popular sector to emerge
                among all these is the NFT gaming
                sector is play- to-earn. In NFT gaming,
                utility, armory, land, or any other asset
                can become an NFT. Becoming an NFT
                makes it convenient to own, transfer,
                and, most of all, sell on the
                blockchain. These gaming providers
                also equip gamers with marketplaces,
                where they can buy and sell their
                unique NFTs.
              </p>
            </div>

          </div>
          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img rounded-1">
              <img src="../../../assets/images/pic2.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>CRYPTO GAMING</h3>
              </a>
              <p class="mb-2 mt-2">
                While virtual video game money is not a new
                concept, the advent of blockchain technology
                has created opportunities for crypto gaming
                Crypto gamers can earn non-fungible tokens
                (NFTs) or cryptocurrency by playing and
                winning a game, and those digital assets then
                become the property of the gamer.
              </p>
            </div>
          </div>

          <div class="blog-item shape1 col-sm-12 col-md-6 col-lg-4 m-auto py-3" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="blog-img">
              <img src="../../../assets/images/pic3.jpg" alt="" />
            </div>
            <div class="blog-des">
              <a href="#">
                <h3>Gaming Industry Worth
                  VS Film Industry Worth</h3>
              </a>
              <p class="mb-2 mt-2">
                As per the report by SuperData Research,
                the Gaming Industry was valued at $159.3
                billion in 2020,
                however, on the other side, the Movie
                Industry was worth $19.1 billion, which
                makes the Gaming Industry around eight
                times bigger than the Movie Industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="faq">
      <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-8 text-center m-auto p-3" data-aos="fade-down" data-aos-duration="2000">
          <div class="rounded-pill text-center m-auto py-3 px-3 uppercase drop-text" data-aos="fade-down"
            data-aos-duration="3000">
            <b>FAQ</b>
          </div>
        </div>
        <div data-aos="zoom-out-down" class="fs-2 text-white m-auto col-lg-12 col-md-12 fw-bold p-1 mt-2 text-center"
          style="font-family: Poppins, sans-serif">
          <span class="text-dark"> Frequently Asked</span>
          <span style="color: #fab915"> Questions </span>
        </div>
      </div>

      <div class="container faq mt-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-heade collapsed" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                How do I verify my account, and what documents are needed?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                To verify your account, you'll need to make a deposit first and
                provide a color photo of yours captured recently to verify your
                facial feature. Please ensure the provided documents are clear and
                easy to read.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is the minimum deposit and withdrawal amount?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Minimum deposit and withdrawal are $10 or equal amount in local
                currency
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I add a phone number to my account?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                You can add your phone number after making a deposit. In the trade
                section, a popup message will offer you the option to enter your
                phone number. Afterward, you will be verfied by adding your
                correct phone number
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Why can't I verify my account before making a deposit?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The verification process is determined by the deposit method used,
                so it occurs after you've made the deposit. In many cases, you can
                withdraw funds back to the same source without verification, but
                certain withdrawal limits not not apply
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Can I earn without making a deposit?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                At the moment, the sole method to earn without making a deposit is
                through our Referral Program. By participating in the program, you
                can share your referral code with others, introduce new clients,
                and receive real funds as a reward. For detailed information about
                the Referral Program, kindly refer to the "Become a Partner"
                section
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> <br> <br>
    <!-- Blog Part End -->

    <!-- Footer Part Start -->
    <footer id="footer-part ">
      <div id="footer-widget" class="section-p">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget-item">
                <h4>Contact</h4>
                <div class="contact">
                  <ul>
                    <li>
                      <i class="fa fa-map-marker"></i>47 W 13th St, New York, NY 10011, USA
                    </li>
                    <li>
                      <a href="theCashgrow@gmail.com"><i class="fa fa-envelope"></i> theCashgrow@gmail.com</a>
                    </li>
                    <li>
                      <a href="callto::+1 (229) 286-4623"><i class="fa fa-phone"></i>+1 (229) 286-4623</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-widget-item">
                  <h4 class="mb-1">Connect with us:</h4>
                  <ul class="flat-list social-icon">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer-widget-item mt-4 mt-sm-0">
                <h4>Festival Deals</h4>
                <ul class="regular-list">
                  <li><a href="#">Cashgrow Investments</a></li>
                  <li><a href="#">Exchange Cashgrow</a></li>
                  <li><a href="#">Cashgrow analytics</a></li>
                  <li><a href="#">Insingts Cashgrow</a></li>
                  <li><a href="#">Cashgrow Shopping</a></li>
                  <li><a href="#">Escrow Services</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
              <div class="footer-widget-item mt-4 mt-lg-0">
                <h4>Need Help ?</h4>
                <ul class="regular-list">
                  <li><a href="#">Getting Started</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ's</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Product Feed</a></li>
                  <li><a href="#">Feature product</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="footer-about mt-4 mt-lg-0">
                <div class="footer-logo rounded-2" data-aos="fade-right">
                  <h1>Cash <span style="color: #fab915">grow</span></h1>
                  <p class="mt-3 mb-">
                    Dolor sit amet, consectetur adipisicing elit. Dolorem veniam
                    repellendus ad aut obcaecati totam magnam, ea nostrum sit
                    reprehenderit.
                  </p>
                  <a href="#about"><i class="fa fa-caret-right"></i> About us</a>
                </div>
                <div class="footer-widget-item">
                  <ul class="flat-list">
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-1 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-2 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-3 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-1 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-2 (1).jpg" alt="" /></a>
                    </li>
                    <li>
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-3 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-1 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-2 (1).jpg" alt="" /></a>
                    </li>
                    <li class="rounded-1">
                      <a href="#"><img class="rounded-1" src="../../../assets/images/card-icon-3 (1).jpg" alt="" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                Copyright © 2017
                <a href="https://themeforest.net/user/themebuzs">Thecashgrow.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Part End -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plug In Js -->
    <script src="js/plugins.js"></script>

    <!-- Custom js -->
    <script src="js/custom.js"></script>
  </header>
</div>