  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:maclink.cc@gmail.com">maclink.cc@gmail.com</a>
        <!-- <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55 -->
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="#">Maclink</a></h1> -->
      <h1 class="logo"><a href="#"><img src="../../../assets/maclink white png.png" alt="">Maclink</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Packages</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" (click)="open(content)"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Maclink</h1>
      <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
      <a  class="btn-get-started scrollto m-3" [routerLink]="['/login']">Login</a>
      <a  class="btn-get-started-register scrollto" (click)="goToRegiester()">Register</a>
      <a  class="btn-get-started-register scrollto m-3" (click)="downloadApkFromAssets('Maclink.apk')">Download App</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2 aboutSectionImage" data-aos="fade-left">
            <img src="assets/images/planet.webp" class="img-fluid" alt=""   

            >
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>About Maclink</h3>
            <p class="fst-italic">
              Maclink is a decentralized, blockchain- and based online earning application that operates on the usdt network.
            </p>
            <!-- <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul> -->
            <p>
              It functions as a smart contract program allowing participants to earn dollars through a peer-to-peer matrix system. Users join by paying an entry fee in dollars (USDT), which grants them access to the matrix.
              Participants can earn through a referral program by inviting others to join the platform. As new members join under their referral link, they can earn commissions based on the contributions made by these new members. Maclink operates on a self-executing smart contract, ensuring transparency and immutability of transactions.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Registeration</h4>
              <p>
                The registration process for your maclink website account is designed to be straightforward and user-friendly. Prospective users begin by visiting the application's website or downloading the apk version.</p>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Registeration</h4>
              <p>Upon opening the platform, they are guided through a simple sign-up process, requiring basic information such as name, email address, and a secure password. Finally, they gain access to the platform's dashboard, where they can explore and do deposit in their wallet and can purchase a active package for work.</p>
            </div>
          </div>

          <!-- <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4> Ad ad velit qui</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>These services collectively aim to create a comprehensive and rewarding experience for users, leveraging blockchain technology to enable secure, transparent, and diversified earning opportunities.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <!-- <h4><a href="">Lorem Ipsum</a></h4> -->
              <p>Decentralized Earning Opportunities: Maclink platform provides a decentralized environment where users can access various earning opportunities, including smart contracts, staking, yield farming, and participating in DeFi protocols. These avenues enable users to earn passive income through USDT holdings and interactions with blockchain-based financial tools.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <!-- <h4><a href="">Sed ut perspiciatis</a></h4> -->
              <p>Secure Wallet Integration: Offering secure wallet integration within the platform allows users to manage their earned USDT. This feature ensures a safe and encrypted environment for storing, sending, and receiving various digital assets earned through the platform.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <!-- <h4><a href="">Magni Dolores</a></h4> -->
              <p>Tokenized Reward Systems: Implementing a token-based reward system incentivizes user engagement and loyalty. Users earn platform-specific tokens or rewards for completing tasks, participating in the community, and contributing positively. These tokens might offer additional benefits, such as discounts, access to premium features, or higher earnings.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <!-- <h4><a href="">Nemo Enim</a></h4> -->
              <p>Community Engagement and Learning Resources: Your platform may foster a vibrant community by providing forums, discussion boards, and social features where users can interact, share insights, and support each other. Additionally, offering educational resources like tutorials, articles, and webinars about blockchain technology, investing, and decentralized finance enhances user knowledge and engagement.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <!-- <h4><a href="">Dele cardo</a></h4> -->
              <p>Transparent Analytics and Reporting: Providing transparent analytics and reporting tools allows users to track their earnings, performance metrics, and transaction history easily. Real-time data insights empower users to make informed decisions regarding their earning strategies within the platform.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <!-- <h4><a href="">Divera don</a></h4> -->
              <p>Partnerships and Ecosystem Expansion: Continuously seeking partnerships with other blockchain projects, DeFi protocols, or digital asset platforms expands the earning possibilities for users. Collaborations can offer new earning streams, a wider range of supported cryptocurrencies, and opportunities for growth within the platform's ecosystem.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Packages</span>
          <h2>Pricing</h2>
          <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Basic</h3>
              <h4><sup>$</sup>10<span>.00</span></h4>
              <ul>
                <li>Level 1 &nbsp;&nbsp;&nbsp;  5$ Direct</li>
                <li>Level 2 &nbsp;&nbsp;&nbsp;   1$ bouns</li>
                <li>Level 3 &nbsp;&nbsp;&nbsp;  0.5$ bouns</li>
          

              </ul>
              <div class="btn-wrap">
                <a  [routerLink]="['/login']" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured">
              <h3>Standard</h3>
              <h4><sup>$</sup>30<span>.00</span></h4>
              <ul>
                <li>Level 1 &nbsp;&nbsp;&nbsp;  15$ Direct</li>
                <li>Level 2 &nbsp;&nbsp;&nbsp;   5$ bouns</li>
                <li>Level 3 &nbsp;&nbsp;&nbsp;  2$ bouns</li>
              </ul>
              <div class="btn-wrap">
                <a  [routerLink]="['/login']" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Unlimited</h3>
              <h4><sup>$</sup>60<span>.00</span></h4>
              <ul>
                <li>Level 1 &nbsp;&nbsp;&nbsp;  30$ Direct</li>
                <li>Level 2 &nbsp;&nbsp;&nbsp;   10$ bouns</li>
                <li>Level 3 &nbsp;&nbsp;&nbsp;  5$ bouns</li>
              </ul>
              <div class="btn-wrap">
                <a [routerLink]="['/login']" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>For any questions, concerns, or inquiries feel free to contact us.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <!-- <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div> -->

          <div class="col-lg-12 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>maclink.cc@gmail.com</p>
            </div>
          </div>

          <!-- <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div> -->

        </div>

        <div class="row" data-aos="fade-up">

          <!-- <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div> -->

          <div class="col-lg-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Maclink</h3>
              <p>
                <strong>Email:</strong> maclink.cc@gmail.com<br>
              </p>
              <!-- <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/tems']">Terms and Condition</a></li>
              <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/privacy-policy']">Privacy policy</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-6 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p> -->
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Maclink</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Maclink-multipurpose-html-template-for-free/ -->
        Designed by <a href="#">Maclink</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <ng-template #content let-offcanvas>

    <div class="offcanvas-header bgcolor">
        <h4 class="offcanvas-title text-white" id="offcanvas-basic-title"> <b>Maclink</b> </h4>
        <button type="button" style="background: transparent;color: white;" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="offcanvas-body bgcolor">

        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;" class="bi bi-house"></i></b>
            </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b><a  class="text-white" href="#hero">Home</a></b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;" class="bi bi-box"></i></b>
            </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b><a class="text-white" href="#about">About</a></b>
            </p>
        </div>

        <!-- <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-capslock"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b><a class="text-white" href="#services">Services</a></b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-capslock"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b><a class="text-white" href="#pricing">Packages</a></b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-c-circle"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b><a class="text-white" href="#contact">Contact us</a></b>
            </p>
        </div> -->

        <div [routerLink]="['/tems']" class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-terminal"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b>Terms & conditions</b>
            </p>
        </div>
        <div [routerLink]="['/privacy-policy']" class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-terminal"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b>Privacy policy</b>
            </p>
        </div>
        <div [routerLink]="['/login']" class="card35 text-white" (click)="offcanvas.close('Save click')">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-box-arrow-in-right"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b>Login </b>
            </p>
        </div>
        <div class="card35 text-white" (click)="offcanvas.close('Save click') || goToRegiester() ">

            <p style="padding-left: 10px; margin-top: 3px"> <b><i style="font-size: 25px;"
                        class="bi bi-r-circle"></i></b> </p>
            <p class="wokingtext" style="padding-left: 20px;">
                <b>Register</b>
            </p>
        </div>
    </div>

</ng-template>