html,
body,
.intro {
  height: 100%;
}
.p{
  font-weight: 600;
  color:  var(--background-color);
}

p{
  margin: 0;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}
.wave{
  position: absolute;
  bottom: 0;
}

.bottompx{
  margin-bottom: 70px;
 }
 .card35{
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.topicon{
  position: absolute;
  top: 10px;
  right: 10px;
}




// <------------Alter Css-------------->
.container{
  background:  rgba(16,14,60,1);
}
.card{
  background:  rgb(37, 34, 102);
}
.list-group-item{
  background:  rgb(37, 34, 102);
  color: rgb(0, 0, 0);
  border-bottom: 1px solid  rgba(255, 255, 255, 0.603);
}
.heading{
background-color: rgb(35, 149, 255);
}
.list-group-item p{
  color: rgb(255, 255, 255);
  padding-top: 5px;
}
.card:hover{
  margin:-3px 0;
  transition: all 0.2s;
}
