<p
  class="card-body text-center shadow rounded-3 text-white"
  style="background-color: red"
  *ngIf="status?.length > 0"
>
  <span *ngFor="let item of status">
    <p>{{ item.message }}</p>
    <br />
  </span>
</p>

<div class="mobileapk">
  <section class="services" id="mainCards">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12 d-flex mt-1">
          <div
            class="card-body text-center shadow rounded-3 heading text-white"
          >
            <i class="{{ directBonous.icon }} mainicon " class="text-white"></i>
            <br />
            <h4 class="text-white">{{ directBonous.type }}</h4>
            <h4 class="text-muted text-white">
              {{ directBonous.subtype }}<span class="text-white"></span>
            </h4>
            <h6 class="text-muted text-white">
              <span *ngIf="directBonous.today != null" class="text-white">{{
                directBonous.today
              }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services" id="mainCards">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-lg-3 col-sm-4 col-6 d-flex align-items-stretch mt-1"
          *ngFor="let item of card; let i = index"
        >
          <div class="card-body text-center shadow heading text-white">
            <i class="{{ item.icon }} mainicon text-white"></i>
            <br />
            <h4 class="text-white">{{ item.type }}</h4>
            <h4 class="text-white">
              {{ item.subtype
              }}<span *ngIf="i != 5 && i != 2" class="text-white">$</span>
            </h4>
            <h6 class="text-muted text-white">
              <i class="bi bi-arrow-up text-white" *ngIf="i > 1"></i
              ><span *ngIf="item.today != null" class="text-white"
                >{{ item.today
                }}<span *ngIf="i == 3 || i == 5" class="text-white"
                  >$</span
                ></span
              >
              <span *ngIf="item.today == null" class="text-white">0$</span>
            </h6>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch mt-4 text-center"></div>
        <div class="col-lg-3 d-flex align-items-stretch mt-4 text-center"></div>
      </div>
    </div>
  </section>
  <br />

  <div
    style="margin-top: -40px; cursor: pointer"
    class="card-body text-center shadow rounded-3 heading text-white"
    (click)="copyUserId()"
  >
    <i class="icon bi bi-link-45deg"></i>
    <br />
    <h4 class="text-white">Referral Link</h4>
  </div>
</div>
