<!-- <div class="body">
  <div class="body1">
    <div class="uknow">
      <img src="{{userobj.image}}"
      onerror="this.onerror=null;this.src='../../../assets/images/UnknownUser.png';"
       alt="">
    </div>
    <div class="id">
      <p>
        <span style="font-size: 20px;">  {{userData.name}} </span><br>
        <span class="tow" style="font-size: 15px;">{{userData.username | uppercase}}
        </span><br><br>
      </p>
    </div>
  </div>
  <div class="body2" >
    <div class=" bg1 " (click)="copyUserId()">
      <p class="has-focus" >
        Personal link
      </p>

      <div class="bg2">
        <p class="button-block"  (click)="copyUserId()">Copy</p>
      </div>
    </div>
  </div>
</div> -->

<div class="mobileapk">
  <section class="services" id="mainCards">
    <div class="container">
      <div class="row">
        <div
          class="col-md-12 col-lg-12 col-sm-12 col-12 d-flex mt-1"
          data-aos="fade-up"
        >
          <div class="card-body text-center shadow" style="border-radius: 0px">
            <i class="{{ directBonous.icon }} mainicon"></i>
            <br />
            <h4>{{ directBonous.type }}</h4>
            <h4 class="text-muted">{{ directBonous.subtype }}<span>$</span></h4>
            <h6 class="text-muted">
              <i class="bi bi-arrow-up"></i
              ><span *ngIf="directBonous.today != null"
                >{{ directBonous.today }}<span>$</span></span
              >
              <span *ngIf="directBonous.today == null">0$</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services" id="mainCards">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-lg-3 col-sm-4 col-6 d-flex align-items-stretch mt-1"
          data-aos="fade-up"
          *ngFor="let item of card; let i = index"
        >
          <div class="card-body text-center shadow">
            <i class="{{ item.icon }} mainicon"></i>
            <br />
            <h4>{{ item.type }}</h4>
            <h4 class="text-muted">
              {{ item.subtype
              }}<span *ngIf="i == 1 || i == 2 || i == 3">$</span>
            </h4>
            <h6 class="text-muted">
              <i class="bi bi-arrow-up" *ngIf="i > 1"></i
              ><span *ngIf="item.today != null"
                >{{ item.today }}<span *ngIf="i == 2 || i == 3">$</span></span
              >
              <span *ngIf="item.today == null">0$</span>
            </h6>
          </div>
        </div>

        <div
          class="col-lg-3 d-flex align-items-stretch mt-4 text-center"
          data-aos="fade-up"
          data-aos-delay="200"
        ></div>
        <div
          class="col-lg-3 d-flex align-items-stretch mt-4 text-center"
          data-aos="fade-up"
          data-aos-delay="200"
        ></div>
      </div>
    </div>
  </section>
</div>
