
<div class="content">

  <header id="header" class="fixed-top d-flex align-items-center headerclr">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
          <h1 ><a href="#" class="fs-2" ><img src="../../../assets/maclink white png.png" alt="" style="width: 50px;height: 50px;"><span
            style="color: #06397c;text-transform: uppercase;">Maclink</span></a></h1>
      </div>


      <nav id="navbar" class="navbar">
        <button class="btn button navbtn text-white px-5" [routerLink]="['/login']"><a>Login</a></button>
      </nav>
    </div>
  </header>
  <div class="mt-5 m-auto text-center" style="width: 80%;">
    <form class="p-3  row">
      <div class="col-lg-7 col-sm-12  m-auto mt-5">
        <img class="signup"  src="../../../assets/12291223_Wavy_Tech-28_Single-10.jpg" alt="">
      </div>
      <div class="col-lg-5  col-md-6 col-sm-12 mx-auto mt-5 m-3 p-3  " >
        <h2 class="text-center mb-3"><span class="hero-text" style="letter-spacing: 1px;"> Sign upto Register</span></h2><br>
        <div class="row">
          <div class="col-md-6 mt-2">
            <label class="form-label"> </label>
            <input
              class="rounded-2 input "
              placeholder="First Name"
              [(ngModel)]="userFirstName"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
          <div class="col-md-6 mt-2">
            <label class="form-label"> </label>
            <input
              class="rounded-2 input"
              [(ngModel)]="signupdata.lastname"
              placeholder="Last Name"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="col-md-12 mt-2">

        <label class="form-label "></label>
        <input

          class="rounded-2  input"
          placeholder="Contact Number"
          type="text"
          maxlength="11"
          [(ngModel)]="signupdata.contactno"
          [ngModelOptions]="{ standalone: true }"
          pattern="[0-11]{11}"
          maxlength="11"  min="0" max="9999" step="1"
          required
        />
        </div>
        <div class="col-md-12">

        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Email"
          [(ngModel)]="signupdata.email"
          [ngModelOptions]="{ standalone: true }"
          required
        /></div>
        <div class="col-md-12">

        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Password"
    
          (input)="password($event)"
          required
        /></div>
        <div class="col-md-12">

        <label class="form-label mt-1 "></label>
          <input class="rounded-2 input " placeholder="Confirm"   (input)="confirmpassword($event)" required />
        </div>

          <span   class="mt-4" *ngIf="this.showmessage != ''" [ngClass]="this.showmessage == 'Correct Password' ? 'text-success' : 'text-danger'">{{this.showmessage}} </span>
      <br>  
      <div class="col-md-12">

      <label class="form-label mt-1" >Referral-link</label>
        <input
style="color: black;"
          class="form-control input  text-center"
          value="{{ signupdata.invitationlink }}"
          disabled
        /></div>
        <br />
        <div class="col-md-12">

        <p class="d-flex">
          <input class="form-check-input border border-1 border-dark p-1  "  [(ngModel)]="isChecked"
          [ngModelOptions]="{ standalone: true }" type="checkbox" />
          <label class="form-check-label m-auto  text-center fs-6" >
            I have read and agree to the <a class="term" href="#/tems" >Terms and Condition</a>
          </label>
        </p>
        </div>
        <br />
        <div class="row">
          <div class="col-12 m-auto text-center">
            <!-- <button class="btn btn-clr mt-3" (click)="submit()">Submit</button> -->
            <button class=" m-auto text-center  button btn-lg w-100 mt-3" (click)="submit()" [disabled]="userFirstName == ''|| signupdata.lastname == '' || 
            signupdata.contactno == ''|| signupdata.email == ''|| signupdata.password == ''|| signupdata.invitationlink == '' || this.showmessage != 'Correct Password' || isChecked == false">Submit</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  <footer
  id="footer"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container-fluid">
    <div class="copyright">
      <strong><span>Maclink SHOP © 2023 |</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
