<div class="video-container">
  <video autoplay muted loop id="video-bg">
    <source src="../../../assets/pexels-colin-jones-11009983 (1080p).mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

<div class="content whitecolor">
  
  <header id="header" class="fixed-top d-flex align-items-center headerclr">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
          <h1 ><a href="#" class="fs-2" ><img src="../../../assets/maclink white png.png" alt="" style="width: 50px;height: 50px;"><span
            style="color: #00ff00d7;text-transform: uppercase;">Maclink</span></a></h1>
      </div>


      <nav id="navbar" class="navbar">
        <button class="btn button navbtn text-white" [routerLink]="['/login']"><a>Login</a></button>
      </nav>
    </div>
  </header>
  <div class="mt-5 backimg ">
    <form class="p-3">
      <div class="col-md-6 mx-auto mt-5 m-3 p-3  " style="color: white;    border: solid 1px white;
      background:rgba(0, 0, 0, 0.616);  color:  #00ff00d7;  box-shadow: 0 0 20px rgba(0, 255, 0, 0.767);">
        <h2 class="text-center mb-3" style="color: #00ff00d7"><span style="color: #00ff00d7">Registration</span> Form</h2>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label"> </label>
            <input
            style="height: 55px;"
              class="rounded-2 input "
              placeholder="First Name"
              [(ngModel)]="userFirstName"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
          <div class="col-md-6">
            <label class="form-label"> </label>
            <input
            style="height: 55px;"
              class="rounded-2 input"
              [(ngModel)]="signupdata.lastname"
              placeholder="Last Name"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Contact Number"
          type="text"
          maxlength="11"
          [(ngModel)]="signupdata.contactno"
          [ngModelOptions]="{ standalone: true }"
          pattern="[0-11]{11}"
          maxlength="11"  min="0" max="9999" step="1"
          required
        />
        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Email"
          [(ngModel)]="signupdata.email"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Password"
    
          (input)="password($event)"
          required
        />
        <label class="form-label mt-1"></label>
          <input class="rounded-2 input" style="color: black;" placeholder="Confirm"   (input)="confirmpassword($event)" required />
          
          <span  style="background-color: transparent ;color:#00ff00d7;"  class="mt-4" *ngIf="this.showmessage != ''" [ngClass]="this.showmessage == 'Correct Password' ? 'text-success' : 'text-danger'">{{this.showmessage}} </span>
      <br>  <label class="form-label mt-1" style="color: #00ff00d7;">Referral-link</label>
        <input
        style="background: transparent; color: black;"

          class="form-control input"
          value="{{ signupdata.invitationlink }}"
          disabled
        />
        <br />
        <p class="d-flex">
          <input class="form-check-input "  style="color: #cc1616;" [(ngModel)]="isChecked"
          [ngModelOptions]="{ standalone: true }" type="checkbox" />
          <label class="form-check-label m-auto  text-center fs-6" >
            I have read and agree to the <a class="term" href="#/tems" style="color: rgb(255, 255, 255);font-size: 14px;">Terms and Condition</a>
          </label>
        </p>
        <br />
        <div class="row">
          <div class="col-12 m-auto text-center">
            <!-- <button class="btn btn-clr mt-3" (click)="submit()">Submit</button> -->
            <button class=" m-auto text-center  button btn-clr mt-3" (click)="submit()" [disabled]="userFirstName == ''|| signupdata.lastname == '' || 
            signupdata.contactno == ''|| signupdata.email == ''|| signupdata.password == ''|| signupdata.invitationlink == '' || this.showmessage != 'Correct Password' || isChecked == false">Submit</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  <footer
  id="footer"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container-fluid">
    <div class="copyright">
      <strong><span>Maclink SHOP © 2023 |</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
</div>
