

  <header id="header" class="fixed-top d-flex align-items-center headerclr">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo mt-3">
          <h1 ><a href="#" class="fs-2" ><img src="../../../assets/maclink white png.png" alt="" style="width: 50px;height: 50px;"><span class="fs-4" style="text-transform: uppercase;color: white;">Cashgrow</span></a></h1>
      </div>

    </div>
  </header> <br> <br>
  <div class=" m-auto text-start  bg-cash">
    <div class="p-3 container m-auto row">
      <div class="col-lg-7 col-sm-12  m-auto mt-5 bg-cash float ">
        <div class="cssanimation hu__hu__">
        <h1 class="pop">Cashgrow</h1>
        <button class="btn button navbtn text-white m-auto px-5" [routerLink]="['/login']">
          <a class="text-center m-auto text-white">Login</a></button>
        </div>
      </div>
      <div class="col-lg-5  col-md-8 col-sm-12 mx-auto  m-3 p-3 bg-light rounded-2  " >
        <form >
        <h2 class="text-center mb-3 fs-4"><span class="sign-head"> SignUp to Register</span></h2><br>
        <div class="row">
          <div class="col-md-6 ">
            <label class="form-label"> </label>
            <input
              class="rounded-2 input "
              placeholder="First Name"
              [(ngModel)]="userFirstName"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
          <div class="col-md-6 ">
            <label class="form-label"> </label>
            <input
              class="rounded-2 input"
              [(ngModel)]="signupdata.lastname"
              placeholder="Last Name"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="col-md-12 ">

        <label class="form-label "></label>
        <input

          class="rounded-2  input"
          placeholder="Contact Number"
          type="text"
          maxlength="11"
          [(ngModel)]="signupdata.contactno"
          [ngModelOptions]="{ standalone: true }"
          pattern="[0-11]{11}"
          maxlength="11"  min="0" max="9999" step="1"
          required
        />
        </div>
        <div class="col-md-12">

        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Email"
          [(ngModel)]="signupdata.email"
          [ngModelOptions]="{ standalone: true }"
          required
        /></div>
        <div class="col-md-12">

        <label class="form-label mt-1"></label>
        <input

          class="rounded-2 input"
          placeholder="Password"
    
          (input)="password($event)"
          required
        /></div>
        <div class="col-md-12">

        <label class="form-label mt-1 "></label>
          <input class="rounded-2 input " placeholder="Confirm"   (input)="confirmpassword($event)" required />
        </div>

          <span   class="mt-2" *ngIf="this.showmessage != ''" [ngClass]="this.showmessage == 'Correct Password' ? 'text-success' : 'text-danger'">{{this.showmessage}} </span>
      <br>  
      <div class="col-md-12">

      <label class="form-label mt-1" style="color: grey;" >Referral-link</label>
        <input

          class="form-control input text-black gradient  text-center"
          value="{{ signupdata.invitationlink }}"
          disabled
        /></div>
        <br />
        <div class="col-md-12">

        <p class="d-flex">
          <input class="form-check-input border border-1 border-dark p-1 text-black  "  [(ngModel)]="isChecked"
          [ngModelOptions]="{ standalone: true }" type="checkbox" />
          <label class="form-check-label m-auto text-black  fs-6" >
            I have read and agree to the <a class="term" href="#/tems" >Terms and Condition</a>
          </label>
        </p>
        </div>
        <br />
        <div class="row">
          <div class="col-12 m-auto text-center">
            <!-- <button class="btn btn-clr mt-3" (click)="submit()">Submit</button> -->
            <button class=" m-auto text-center w-100 btn button navbtn mt-3" (click)="submit()" [disabled]="userFirstName == ''|| signupdata.lastname == '' || 
            signupdata.contactno == ''|| signupdata.email == ''|| signupdata.password == ''|| signupdata.invitationlink == '' || this.showmessage != 'Correct Password' || isChecked == false">Submit</button>

          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- <footer
  id="footer"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container-fluid">
    <div class="copyright">
      <strong><span>Cashgrow SHOP © 2023 |</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer> -->
