// Template Main Color
$brand-color: #fab915;


// base white and dark
$white: #fff;
$dark: #000;
$border-color: #7d7d7d;
$p-color: #898989;
// socail icon color
$facebook: #4868ab;
$twitter: #1da2f2;
$linkedin: #0077b5;
$pinterest: #cc2028;
$instagram: #b13a96;
$google-plus: #dc493c;
$vimeo: #00aeee;
$flickr: #ff2d84;

// Fonts
$family-1: 'Source Sans Pro',
sans-serif;

$trans-3: all .3s;
$trans-4: all .4s;
$trans-5: all .5s;

// Shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);