html,
body,
.intro {
  height: 100%;
  background-color:#1a1f22;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.wave{
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .float {
      display: none;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 5px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 2px 3px #999;
 
 }


.card{
  background:  white;

}

.list-group-item{
  background:  white;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid  rgba(255, 255, 255, 0.603);
  ;
  font-size: 10px;

}


.list-group-item p{
  color: rgb(0, 0, 0);
  

}
.heading{
  background-color: #fab915;
  }

.card:hover{
  margin:-3px 0;
  transition: all 0.2s;

}
*{
  font-family: "Poppins", sans-serif;

}