<div class="container">
  <section class="intro">
    <div class="mask d-flex align-items-center h-100">
      <div class="container p-3">
        <h1
          class="text-white text-center fs-3 fw-bold"
          style="text-transform: uppercase"
        >
          Withdraw History
        </h1>

        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2 mb-1"
            *ngFor="let item of userdata"
          >
            <div class="card shadow-sm border rounded-2 mt-2">
              <ul class="list-group list-group-flush rounded-2">
                <li class="list-group-item heading text-center fw-bold">
                  <p>Recent Withdraw</p>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1 fw-bold">ID</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end fw-bold text-truncate py-1">
                        {{ item.user_id }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Amount</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.amount }}
                      </p>
                    </div>
                  </div>
                </li>  
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Gateway</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.jdetail }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">WalletID</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.contact }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Servies</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.services }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Net</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">{{ item.net }}</p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Date</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.created_at }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Status</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        {{ item.status }}
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item" *ngIf="item.status == 'Approve'">
                  <div class="row">
                    <div class="col-5 col-md-6 col-lg-6 justify-content-start">
                      <p class="p py-1">Recepate</p>
                    </div>
                    <div class="col-7 col-md-6 col-lg-6 justify-content-end">
                      <p class="text-end text-truncate py-1">
                        <button
                          (click)="open(content, item)"
                          type="button"
                          class="btn btn-primary"
                          data-toggle="modal"
                          data-target="#exampleModalCenter"
                        >
                          Show
                        </button>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #content let-modal>
  <div class="card modal-body modalcolor">
    <img
      style="height: 50px; width: 50px; border-radius: 10px"
      src="../../../assets/images/send.png"
      alt=""
    />
    <h1 class="text-white mt-4">Congratulation!</h1>
    <h5 class="text-white">Cashgrow</h5>
    <h1 class="mt-4 heading">Congratulation!</h1>
    <h5 class="text-white">The Cashgrow</h5>
    <h1 class="text-white">Withdrawal Amount</h1>
    <h5 class="text-white">{{ userDepositeAmouint }}$</h5>
    <h5 class="text-white">Successfully By</h5>
    <h1 class="text-white">Cashgrow</h1>

    <button
      type="button"
      class="btn btn-outline-dark text-white"
      (click)="modal.close('Save click')"
    >
      close
    </button>
  </div>
</ng-template>
