<div class="container mt-5">
    <h1 class="text-center">Uplaod Your Status</h1>
    <!-- <form action="your_server_endpoint_here" method="post" enctype="multipart/form-data"> -->
    
        <div class="form-group">
            <label class="display56" style="width: 120px; height: 120px; border: 1px solid; margin-left: auto; margin-right: auto; border-radius: 10px; margin-top: 20px;">
              <i style="font-size: 30px;" class="bi bi-plus-circle-dotted"></i>
              <input type="file" style="display: none;" class="form-control-file" id="image" name="image"  required>
            </label>
          </div>
          <div class="form-group" style="margin-top: 30px;">
            <label for="exampleFormControlTextarea1"> <b>Caption</b> </label>
            <textarea class="form-control" style="margin-top: 5px;" id="exampleFormControlTextarea1" 
           rows="3"></textarea>
          </div>
          <div class="row">
            <button  style="width: 80px;margin-top: 20px;margin-left: auto;margin-right: auto;" type="submit" class="btn btn-primary" >Post</button>

          </div>
</div>
